[2016-02-14 11:08] mcicolella opened #117 "Jfrontend: only images in resources folder are set as background"
When you try to set a new background image the system proposes "resources" folder to make your choice.
You can move to any other folder on your system, outside of Freedomotic installation, but in this case the background is not set and only a log message is reported.
Possible solutions
1. disable UpFolderButton in GUI
2. notify user with a visual message when the image is not set
3. other ...

Ref

[2016-02-14 11:18] mcicolella opened #118 "ActiveMQ error message at shutdown"
Reported error

ERROR [pool-9-thread-1] - ID:mauro-9326-1425838119102-4:1:8:1 failed to delivered acknowledgements
javax.jms.JMSException: Transport disposed.
        at org.apache.activemq.util.JMSExceptionSupport.create(JMSExceptionSupport.java:72)
        at org.apache.activemq.ActiveMQConnection.doAsyncSendPacket(ActiveMQConnection.java:1320)
        at org.apache.activemq.ActiveMQConnection.a

[2016-02-14 11:28] mcicolella opened #119 "Create a changelog for Commander"
Main topics:
 Revamped P2P
 RestAPI v3
 Library version updates
 Enhanced overall stability
 Switched from JUL to SLF4j
 Extended extra conditions in Reactions (aka Automations)
 Updated javadoc

Extra packaging:
 Snappy App
 Docker

Behind the scenes:
 Enforced dependency injection
 Enforced adoption of internal API for core and plugins
 Enabled coherent access methods to repositories

New plugin

[2016-02-14 13:34] bestmazzo opened #120 "Create wiki page for P2P config and scenarios"
Since P2P is a one of our 'jewel of the crown' we should explain its usage (scenarios and related config) in a dedicated page.
This would help people better understand its power and deploy the best solution of their aims.

[2016-02-14 13:56] mcicolella commented on #120
We have already a draft https://github.com/freedomotic/freedomotic/wiki/P2P we could extend with more details as you said.

[2016-02-14 14:44] mcicolella opened #121 "RestApi v3 - websocket endpoints not working"

[2016-02-14 14:45] mcicolella opened #122 "Check thing position and revert it when moved outside environment boundaries"

[2016-02-14 14:46] mcicolella opened #123 "RestAPI v3 - "/rooms" not working"
When required it throws the following exception "Could not find a suitable constructor in RoomResource"

[2016-02-14 14:48] mcicolella opened #124 "Keep tuples ordered in plugin manifests"
So far we are managing marshalling of manifest files and contained tuples as unordered map.
Keeping that map ordered could ease reading and modifying manifests.

[2016-02-14 14:50] mcicolella opened #125 "Finetune log mechanism to improve user's feedback analysis"
There are two mayor aspects about that:
a) log starts at an advanced  [boot stadium](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/app/Freedomotic.java#L233) so if something happens at early startup the only way of getting information is looking at console messages
b) log should be easily appended to issue reports

Some tips for log

[2016-02-14 14:52] mcicolella opened #126 "Notify the user when Freedomotic can't load"
If there is any problem on the loading of FD (due for a bad configured environment), FD shuts down without notifing the user, so the user just think that FD doesn't work.
We need to offer the info to the user in a nice way

[2016-02-14 14:55] mcicolella opened #127 "Several bugs related to the lack of association between objects and triggers/commands/reactions"
Objects normally create triggers and commands (e.g. When object is clicked), but when those objects are deleted, the triggers and commands remain. This brings several problems.

Suggestion
Add a "owner" / "creator" field to triggers and commands, which should be set upon creation. However, this requires changing every object, from GenericSensor and ElectricDevice to the more specific objects like

[2016-02-14 15:09] bestmazzo commented on #120
And we could even link it on the sidebar menu (in a dedicate section "configuration" ?). Just a proposal.

[2016-02-15 16:34] mcicolella opened #129 "Same name allowed for different rooms"
Now it's possible to assign the same name to two different rooms/zones. When you rename a room using an used name the operation is executed without asking user a confirmation or reporting that.
Maybe we should think if it's good to allow the same name for different zones.

POSSIBLE SOLUTIONS
This should be enforced at core level.
The simplest way is: if same room name is used the system should app

[2016-02-15 17:10] mcicolella opened #130 "Marketplace tools: manage package lists update more efficiently"
In freedomotic-drupal-marketplace (aka marketplace-tools), the list of available packages are held both globally, at Marketplace level (that holds the complete list of plugin packages), and even inside every MarketPlaceCategory. This is good, but problems may arise when updating, e.g.:
- Retrieve the total list of plugins: when calling FreedomoticMarketPlace#updateAllPackageList() only the global

[2016-02-15 17:18] mcicolella opened #131 "Create base test suite for Things"
We should have a test suite to use against Things (being base ones or user customized) in order to check their desired behaviors.

[2016-02-15 17:29] mcicolella opened #132 "Authc: secure passwords into privileges file"
Users' password is now kept in plaintext into privileges.conf file.
We should store them in an encrypted way.

[2016-02-15 21:04] bestmazzo opened #133 "Create Javadoc gh pages within CI process"
As @mcicolella proposed, this could be a good start:
http://blog.progs.be/517/publishing-javadoc-to-github-using-maven

[2016-02-21 10:16] mcicolella opened #134 "Add measure unit to sensor behavior"
Now when a sensor shows a value (temperature, luminosity, humidity etc) no measure unit is present.
It should be better to add a unit for each type:
temperature -  C for celsius, F for fahreneit
pressure - Pa for pascal, bar
humidity, luminosity - %
voltage - V
current - A
energy - W

Possible solution
Add a <unit></unit> parameter for each numeric behavior

How to manage this behavior?
1. conside

[2016-02-25 10:28] mcicolella opened #137 "p2p as base for clustering systems"
Just an idea: p2p feature can be considered as a base for "clustering" systems. Not only a solution for load balancing (a great feature of course) but also for fault tolerance.
For example if we use a single board ( e.g. raspi or a pc) and it fails (for software/hardware problems) the entire system fails. If we use a cluster (2 or more boards) an instance can substitute another working as a RAID s

[2016-02-25 10:33] mcicolella opened #138 "Add position to User thing"
A "position" behavior could be useful to track users in environments and create some automations as
IF admin is in the Kitchen THEN ....
or
IF there are more than 3 persons in the Kitchen THEN ......
and other when it's important to know where an user is located.
This behavior should have an available zone as value (Kitchen, Bathroom etc) and "none" as default for example.

[2016-02-25 10:39] mcicolella opened #139 "Make Scheduler plugin more efficient in notifying sheduled events"
Now it fires a scheduled event at a given rate (eg: 1 sec) and this event is evalued for consistency with the triggers registered in the system. This is a huge waste of resources.
A better solution is to continuously listen to trigger changes (added, removed, updated) and activate it when it's the right time.

[2016-02-26 17:49] mcicolella opened #140 "findByAddress(String protocol, String address) method should return a single value"
Now it returns a List<EnvObjectLogic> but it should return a single value because 'protocol,address' is an unique identifier for things.
File: https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/things/ThingRepository.java

[2016-02-27 16:35] mcicolella opened #141 "behaviorValue variable in triggers is not complient with coding style guidelines"
In hardware triggers we use a variable called "behaviorValue" to set the new behavior value. This is not complient with coding style rules
The variable should be something like "behavior.value" or a more meaningful name.
We should evaluate if changing from "behaviorValue" to "behavior.value" breaks something in trigger/commands scripting (probably not but it should be checked first)

[2016-02-27 16:42] mcicolella opened #142 "Add long mouse pression to the list of recognized mouse events"
Implement long mouse pression to increase lights brightness for example. We can have a sort of gestures system to perform actions on things icons directly.

[2016-02-27 16:46] mcicolella opened #143 "Extend logical expression in triggers"
Now only "AND" is supported.
It should be better to allow this type of expressions:
IF (property1=X) OR (property2=Y AND property3=Z) THEN set value=W

[2016-02-27 16:50] mcicolella opened #144 "Track the user which performed an action"
We should also add info about which user performed an action, and log it:
E.g.: Kitchen Light removed from Kitchen by admin | Mauro | username

This implies a big enhancement in the current events system to track the user which generated the request (if any).

[2016-02-27 17:04] mcicolella opened #145 "Specify correct privilege requirements in every plugin manifest"
Every plugin now has some default privilege "*" assigned, but such assignment is deprecated and will be removed, sooner or later.
Every plugin should specify exact privilege requirements inside its manifest, with the property permissions containing a comma separated list of permissions.
A list of available permission types is available in config/permission.list
I'd be great if we could find a way

[2016-02-27 17:18] mcicolella opened #146 "Do use SLF4J (instead JUL) in modules core and model"
By now, Java Util Logging (JUL) is used as logging system.
We'd switch to SLF4J.
This tool can be used to help native migration http://www.slf4j.org/migrator.html

[2016-02-27 17:40] mcicolella opened #147 "log4j errors at startup"
Reported:
log4j:ERROR Could not find value for key log4j.appender.default.file
log4j:ERROR Could not instantiate appender named "default.file".

[2016-03-05 13:07] mcicolella opened #150 "Update maven archetype code to match latest freedomotic version and best practices"
We have verified that the devices maven archetype on maven central it's working. It was created starting from the hello-world plugin. We should review the code that is generated whith this archetype to match latest freedmotic version and best practices (eg: error handling example). We could think to enrich the generated code adding also commands and triggers.

Source code
https://github.com/freedo

[2016-03-06 10:55] mcicolella opened #152 "Cleanup RestAPI v3 endpoint"
Restapi v3 now exposes different endpoint that accomplish the same purpose
e.g. find Things inside Environments, manage marketplace plugins etc
We should decide which endpoint should be kept and which one we'd better remove.

[2016-03-06 11:19] mcicolella opened #153 "Auth: 3rd party logon"
Make it possible to register a user through 3rd party SSO services, like Facebook, OpenID, Gmail, Twitter, Linkedin and so on.

For OpenID there is a library for java
A sample consumer https://code.google.com/p/openid4java/wiki/SampleConsumer

Another interesting library to analyze:
socialauth
Java Library for authentication, getting profile, contacts and updating status on Google, Yahoo, Facebook

[2016-03-06 11:20] mcicolella commented on #153
The constraint we have is related to Freedomotic being a 'local' application, not a webservice. Many social/openid auth systems assume they are part of a tomcat/jboss instance so they don't fit our needs. I found Apache Shiro Framework that seems quite simple and feature-rich, so I'm starting giving it a try.
Possible package to bridge Shiro with OAuth and others: https://github.com/bujiio/buji-pa

[2016-03-08 09:56] mcicolella opened #154 "Jfrontend: list triggers in alphabetical order"
Now in Automation Editor triggers are listed in a random way.

[2016-03-08 09:58] mcicolella opened #155 "Zone/Room UUID not assigned when a new environment is created"
When you create a new environment from template-square.env the system assignes the new UUID for the environment itself but not for included zones/rooms.

[2016-03-08 10:01] mcicolella opened #156 "Remove the distinction between real things and virtual things"
Now is possible to mark a Thing as "virtual".
The aim of this feature is to simulate the behavior of an object not connected to real sensors or actuators. We can achieve the same result automatically mapping any object to commands that always respond "true" as we already do with the "Successful test" plugin.

Linking an object to a dummy plugin allows us to provide a common machinery avoiding to t

[2016-03-08 10:11] mcicolella opened #157 "Enhance Gate object with start/stop feature"
The gate object currently has only open, close and set openess actions.
Most of doors and windows automation system has a start/stop feature which is missing in the current object definition.
We should allow to associate a start (+ direction) and stop action to protocol commands, otherwise the gates cannot be mapped to real hardware.

[2016-03-08 10:15] mcicolella opened #158 "Extend authz on Command Trigger and Reaction aspects"
This will include:
 - add methods' annotations to generically manager authz
 - rewrite getters in oder to return only accessible objects

[2016-03-08 10:23] mcicolella opened #159 "Split freedomotic-api from freedomotic-core"
Move the api on an project on their own. Freedomotic-core should not have dependencies to the api. Plugins can add freedomotic-api as a dependency instead of using freedomotic-core.

freedomotic-api will be composed by the Api.java interface and ApiStandarImpl.java class

[2016-03-08 10:27] mcicolella opened #160 "Add windows objects to base-objects"
Windows objects are conceptually an extension of the StepperMotor object. We must have clear indications on how to implement this before procede. What is needed is a brief document with behaviors names, types, allowed values and expected relationships between behaviors.

[2016-03-15 15:26] mcicolella opened #161 "Adapt i18n to the new plugins package name"
Three possible solutions:

1. Creating a dictionary between plugins' packages and plugin directory
2. Passing to I18n.msg() a Plugin object parameter from which - through the Plugin.getFile() method - find the right folder
3. Trying a new approach: on plugin load, create a dictionary of all strings it defines, and let all strings (core and plugin related) be accessed with a common method that does

[2016-03-16 14:51] mcicolella opened #162 "Add API for NLP"
This API should use Natural Language Processing already implemented (https://github.com/freedomotic/freedomotic/wiki/Natural-language-processing).

When you send a command string (e.g. "turn on kitchen light") the system checks if the command is present (or finds the more similar) and executes it.
It could be used with speech recognition applications etc.

[2016-03-17 08:00] mcicolella opened #163 "HttpHelper: add method for http post request"
[HttpHelper](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/helpers/HttpHelper.java) supports only GET requests. We should add a method for POST requests.

[2016-03-17 08:03] mcicolella opened #164 "Create generic endpoint to connect custom event channels"
I'd be useful to have a generic endpoint so that an user/client could interact (given his ACL permits this) with any event channel.

[2016-03-17 08:10] mcicolella opened #165 "Activemq settings in config file"
Now active connectors (stomp, websocket) and their port numbers are set statically in code. If we need to change the port number (for any reason, eg. a conflict with another service) we must recompile the framework. A possibility could be moving these values to config.xml, for example KEY_STOMP_PORT=66666
KEY_ENABLE_STOMP=true

So we could enable/disable/configure services (eg.mqtt) on demand.
The

[2016-03-18 16:07] mcicolella commented on #146
JUL to SLF4J mapping
FINEST  -> TRACE
FINER   -> DEBUG
FINE    -> DEBUG
CONFIG  -> INFO
INFO    -> INFO
WARNING -> WARN
SEVERE  -> ERROR

[2016-03-22 15:56] mcicolella commented on #146
Commit dd0aa29c739b3c0c11391f3098a26ec4db4ffd7a
Commit 4f49a20dc450fedef9fa3ca81cf3a1120b7c3ebc

[2016-03-22 15:56] #146 closed

[2016-03-22 16:00] mcicolella opened #166 "LogViewer plugin: adapt to slf4j"
[LogViewer](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/frontend-java/src/main/java/com/freedomotic/jfrontend/LogViewer.java) requires some adjustments to show log messages with slf4j.

How it works
The plugin GUI shows a combobox where you can select a log level (ALL,INFO,WARN,ERROR) and view all messages related to that level
https://www.youtube.com/watch?v=cvxdhAfcs-Y

[2016-04-18 16:52] #162 closed

[2016-04-23 16:21] bestmazzo opened #167 "PropertiesConverter doesn't deal with tuples"
Properties objects can containt both name-value elements as well as tuples.
So far PropertiesConverter calss manages only name-value elements, so it throws an exception when it havs to deal with tuples.

https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/persistence/PropertiesConverter.java

[2016-04-23 19:09] #167 closed

[2016-05-02 13:45] FlorianFratte opened #168 "Test "testNoSimilarCommand()" fails"
When running
"mvn clean compile" or "mvn test" against HEAD, the test " testNoSimilarCommand" fails because the function "nlpCommand.computeSimilarity" returns a List of 7 objects where only 1 is expected
Maybe there an injection problem so that the CommandRepository is not empty when running the tests?! (Otherwise it's not possible imho that the Repository contains 7 commands because only 1 is ad

[2016-05-02 18:12] FlorianFratte commented on #168
These are the present Items in the list when running the maven test:
Turn it off
Turn on kitchen light
Switch Lights General Switch power
Switch its power
Turn it on
Turn off Lights General Switch
Turn on Lights General Switch

[2016-05-03 05:48] FlorianFratte commented on #153
What about using the APIs directly without libs? That would eliminate the need for a "full" EE stack

[2016-05-03 14:49] mcicolella commented on #153
It could be an alternative

[2016-05-05 18:59] FlorianFratte commented on #153
I've investigated in Shiro and it seems there are plenty of Authentication Providers for all kinds of OAuth logins available... Maybe just use one of these?!
On the other hand I persionally wouldn't like to use Facebook/Google or anything else for login to my Home automation system

[2016-05-05 20:01] bestmazzo commented on #153
Hello, such an interesting discussion!
I've been longing for OAuth since we introduced FD's security laye, and we're currently using Shiro for Authentication and Authorization of users and plugins, so the Shiro extensionis may be the preferred way.
@FlorianFratte I agree with you about the (non)opportunity to log on a domotic system with social accounts.
IMHO OAuth could be used for interoperabili

[2016-05-07 18:40] FlorianFratte commented on #165
CAn you elaborate a little bit more on the security concerns?
A port shouldn't be that problematic imho

[2016-05-07 18:48] FlorianFratte commented on #168
See PR #170

[2016-05-07 19:45] gpulido commented on #153
Hello,
A long time without writing :) but I've read the discussion and I would
like to note that the use of Oauth or any other auth sytem must be an
alternative as fd could be used in completely isolated systems that doesn't
need to have internet connection that could be a security problem so fd
should not relay on having any Sso system to ask for auth.
My two cents.
Cheers.
Gabriel
El 6 may. 2016

[2016-05-08 12:52] mcicolella commented on #165
The concerns were related to the opportunity to move these settings outside the code not specifically to a port number.

[2016-05-14 09:55] #168 closed

[2016-05-23 08:59] mcicolella commented on #154
First of all it requires a fix at core level to return a sorted list of triggers.

[2016-05-23 09:03] mcicolella opened #171 "Return a sorted list of Triggers"
Now findAll() method in TriggerRepositoryImpl class returns an unsorted list of triggers.
It should be better to have them sorted by name.

[2016-05-23 15:10] mcicolella opened #172 "Return a list of Reactions sorted by Trigger name"
Now the method findAll() returns an unsorted list of reactions.
It'd be better to have a sorted list. Reactions have only an UUID, not a name so the sort could be based on trigger name.

[2016-05-23 15:14] mcicolella opened #173 "Return a list of Reactions sorted by Trigger name"
Now findAll() method returns an unsorted list of Reactions.
It'd be better to sort them. Reactions have only an UUID so we could order by Trigger name.

[2016-05-23 15:53] #173 closed

[2016-05-23 16:42] #171 closed

[2016-05-23 16:42] #172 closed

[2016-05-23 17:09] #154 closed

[2016-05-24 14:32] mcicolella opened #174 "Jfrontend: Add a Callout for room/zone selected in edit mode"
In Edit Mode when you click on a zone it is selected but its name is not showed.
A callout could fix the problem. Eg ROOM/ZONE SELECTED [Kitchen]

[2016-05-24 15:30] #174 closed

[2016-05-31 06:24] #155 closed

[2016-06-04 08:32] mcicolella commented on #121
Fixed by reverting the last changes to Jetty libs
https://github.com/freedomotic/freedomotic/commit/e8f6fc23963d9b8c4298b628c899330890d6f5cf
https://github.com/freedomotic/freedomotic/commit/8117bb9b68d202a1750b5d1ea1972a3562bfa096

[2016-06-04 08:32] #121 closed

[2016-06-04 10:18] mcicolella commented on #123
The problem is that Swagger reports "/rooms" as a root endpoint because it has an own file class. But it'd be used under environments "/environments/{id}/rooms ".
Having a list of all rooms independently from their environments seems very unuseful.
Maybe the best solution is to hide the API from the Swagger documentation (if possible).

[2016-06-18 14:57] #123 closed

[2016-06-18 19:43] mcicolella opened #176 "Jfrontend: missing "really_delete_room_X" property in i18n"

[2016-06-20 15:50] #176 closed

[2016-06-24 06:31] mcicolella opened #177 "Remove .xenv file when an environment is deleted"
Now when an environment is deleted its .xenv file remains.
It'd be removed. In particular we'd prevent the default env (set in KEY_ROOM_XML_PATH property) can deleted.
This check is done in jfrontend (if we have only an environment "Delete" option is disabled) but not in API where any environment can be removed.

[2016-06-24 14:53] mcicolella opened #178 "Extend additional conditions in Reactions (aka Automations)"
Now it just takes the statement attribute and value and check if they are equal to the target behavior name and value respectively. As requested in the Italian group (https://groups.google.com/forum/#!topic/freedomotic-it/ZrPJ7Y6Bou4) we need to compare the values of different behaviors of the same thing or different things.
For example:
- thermostat thing has "temperature" and "setpoint" behavior

[2016-06-25 14:14] #178 closed

[2016-06-26 13:36] mcicolella opened #179 "getAvailableLocales() method throws an exception"
When it is called it throws the exception:
"Exception in thread "AWT-EventQueue-0" java.util.regex.PatternSyntaxException: Illegal repetition near index 15" related to this regex
name.matches("^" + bundlename + "(_\\w{2}(_\\w{2})?)?\\.properties$");

[2016-06-27 16:15] #179 closed

[2016-09-30 08:21] mcicolella opened #181 "Add a plugin to control Raspberry Pi GPIO"
We need a plugin to interact with Raspberry Pi GPIO.
It could be based on the good lib  http://pi4j.com/ .

[2016-09-30 13:37] CaelumF commented on #181
I made a Kotlin(Another JVM language, it compiles to Java Bytecode so you can just use it like any other Java library) that uses Linux's sysfs to control GPIOs, I've only tested it with a [https://getchip.com/](CHIP) but it should work with Pis in theory. Also, it doesn't work with variable GPIO output because I could never figure that out with sysfs, though if someone can get it working with sysf

[2016-09-30 14:46] mcicolella commented on #181
@CaelumF We can consider different solutions to find the best one for our purposes. Any code sample of your lib?

[2016-09-30 20:05] CaelumF commented on #181
Of course :)
https://gist.github.com/CaelumF/91fb26a655271d1d2d91245cc8c06039

GPIO headers on a CHIP are within the 408-415 range, so if you're to use it I think I'll quickly change it from a singleton to a class, and set a GPIO path ending range in the constructor.

[2016-09-30 20:19] bestmazzo commented on #181
Hello!
Just in case it may help, there's a plugin in beta stage that wraps Pi4J
library for freedomotic usage.
https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/i2c

It uses an old version of pi4j, but adapting to a new one would be quite
easy,

Contributions are wellcome

2016-09-30 22:05 GMT+02:00 CaelumF <notifications@github.com>:

[2016-10-01 09:45] mcicolella commented on #181
@CaelumF if you are interested you could developed a plugin for your c.h.i.p. board and if it works we could try to extend it to raspberry or other devices as Udoo etc.
Maybe there are only some differences that can be managed at configuration level.

[2016-10-01 21:25] nitram509 commented on #163
What's the use case?
Who uses it?

[2016-10-02 08:24] mcicolella commented on #163
@nitram509 thanks for your answer. For example you could use a POST request in a plugin to publish on a cloud platform as ThingSpeak. Anyway the idea is to make the helper as general as possible with all the options for users.

[2016-10-02 08:39] mcicolella commented on #181
@bestmazzo what about opening a specific issue for I2c plugin?

[2016-10-02 09:28] mcicolella opened #184 "Web client development"
This is only a container for other issues.
We are developing a web client in Polymer and every part of it has its own repository but this is the most viewed and represents a landing page for developers.

The prototype is already included in the last release.
After starting Freedomotic go to http://localhost:8090 (admin/admin for credentials).

If you want to contribute take a look at
https://githu

[2016-10-03 20:50] mcicolella opened #188 "Improve javadoc for classes"

[2016-10-03 21:27] AkshayGulhane commented on #188
Can I Pick up this issue?

[2016-10-04 06:26] mcicolella commented on #188
@AkshayGulhane Of course! If you want take a look at #133

[2016-10-04 09:08] mcicolella opened #189 "Add a translation for your language"
Freedomotic supports more than 20 languages using Transifex.
We are searching contributors for new languages or existing translations.

1. Solution (recommanded in particular for new language)
- Join our team on Transifex (https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/)
- Complete the translation
- Download the file .properties and submit a PR

2. Solution
Work directly on t

[2016-10-04 10:26] amitkumarj441 commented on #189
Hey @mcicolella,

I'm willing to take up this task and I would like to translate [Freedomotic](https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/) in our local langiage. Please add "Hindi"(Hi) language on transifex, so that I can able to finish this task asap.

Cheers,
Amit Kumar Jaiswal

[2016-10-04 12:09] mcicolella commented on #189
@amitkumarj441 Just added Hindi language. I'm opening a specific issue for this so you can reference it in your PR. Thanks for support

[2016-10-04 12:10] mcicolella opened #191 "Add translations for Hindi"

[2016-10-04 14:58] mcicolella commented on #189
@theomessin In https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/frontend-java/src/main/resources/data/i18n/jfrontend_el_GR.properties there are some strings not translated in Greek. Can you work on it?
Thanks

[2016-10-04 15:03] amitkumarj441 commented on #191
Thanks @mcicolella for creating this issue! I'll soon initiate a PR for this language.

[2016-10-04 15:50] mcicolella opened #192 "Arduino WeatherShield Plugin: implement a retry to connect mechanism"
Implement a retry to connect mechanism with a max failures counter (in a separate method) for [Arduino WeatherShield plugin ](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/arduino-weathershield/src/main/java/com/freedomotic/plugins/devices/arduinows/ArduinoWeatherShield.java) (ref. onRun() method)

[2016-10-04 19:16] bhdrkn commented on #163
Starting working on this. But this helper creating HttpClient for each request. It is not a good way to use, but i will keep it as it is. You may want to consider creating a refactoring issue.

[2016-10-04 19:49] mcicolella commented on #163
There is already a pull request for this issue. Please check and verify it for any integration. Thanks

[2016-10-04 20:18] bhdrkn commented on #163
@mcicolella thanks for heads up. I checked the pull request and it does not contain post method.  @nitram509 if you are not going to implement this, I am willing to do it. Please let me know.

[2016-10-04 22:31] dwardu89 opened #193 "Add translation to Maltese"

[2016-10-04 22:51] dwardu89 commented on #193
Can the hacktober fest label be added to this please?

[2016-10-04 23:14] dwardu89 commented on #193
I would like to claim this

[2016-10-05 00:54] JingMa87 commented on #188
I'm on it Cap'n!

[2016-10-05 01:06] JingMa87 commented on #189
I can translate to Dutch! ;)

[2016-10-05 06:02] nitram509 commented on #163
@bhdrkn Feel free to go ahead with implementing POST.

To be honest, I don't see that much value in implementing a helper function, without any concrete need.
Please don't get me wrong here. I'm not against such helper functions in general, but without any concrete use case or scenario I simply don't know, how the method should look like and what are its responsibilities.

Regards
Martin

[2016-10-05 08:14] mcicolella commented on #163
@nitram509 @bhdrkn We have some plugins to control domotic boards with an embedded webserver. Commands are sent as HTTP requests and the status (e.g. relais ON/OFF) is checked by parsing an XML file. Many times the webserver requires authentication.
The helper makes simpler to manage this tasks.

[2016-10-05 08:19] dmitraver commented on #132
Hi!

I would like to help with that. What options do you consider here? I'm not really into the project so can you please elaborate why the passwords are stored in a plaintext?

[2016-10-05 08:47] Sacret commented on #189
I see there are some inaccuracies in Russian translation. I can check and fix them

[2016-10-05 09:33] mcicolella commented on #189
@Sacret Thanks. If you want you can join the Transifex Russian team.

[2016-10-05 09:49] dmitraver commented on #118
Hi!

I would like to pick this one.

[2016-10-05 10:28] Sacret commented on #189
@mcicolella I applied to the team but got this: `You were not accepted to be part of the team Freedomotic Open Source Building Automation team for Russian (Russia).`

[2016-10-05 12:06] mcicolella commented on #189
@Sacret What's your nickname on Transifex? I don't see any request for joining

[2016-10-05 12:08] mcicolella commented on #118
@dmitraver Ok, thanks!

[2016-10-05 12:35] Sacret commented on #189
@mcicolella I have the same username as here: `sacret`

[2016-10-05 12:46] mcicolella commented on #189
@Sacret Just added. Can you confirm?

[2016-10-05 13:31] dmitraver commented on #132
@mcicolella I went quickly through the code and found a predefined credentials for the admin user in a plaintext. There is no way to create new users as far as I can tell. Do you actually want to store admin credentials in a secure way?

[2016-10-05 16:15] JuanRodriguez32 commented on #189
I can translate it to Spanish. Let me know if you need it!

[2016-10-05 20:27] bestmazzo commented on #132
@dmitraver Thank you for your proposal. Currently passwords are stored in plaintext as we found it easier to debug when we introduced the authentication layer. Now we could consider it stable enough to store passwords securely.

A few more information:
- as you may have noticed, we use Shiro framework for authentication and authorization
- in theory, securing passwords should require a few code ch

[2016-10-05 20:40] dmitraver commented on #132
@bestmazzo Thank you for clarification. I will make a PR soon. I also made one PR that fixes an exception that is thrown by activemq during application shutdown so please take a look once you have time ;)

[2016-10-05 22:29] brittat commented on #189
I would be happy to provide a Swedish translation if you need one!

[2016-10-06 01:37] rodrigo-brito commented on #189
I can translate to Portuguese-BR

[2016-10-06 04:28] yacdaniel commented on #189
I can translate to Spanish.

[2016-10-06 13:53] #147 closed

[2016-10-06 14:55] #118 closed

[2016-10-06 16:10] mcicolella commented on #189
@brittat If you want you can join our team on Transifex. We have a partial Swedish translation https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/language/sv_SE/

[2016-10-06 16:13] mcicolella commented on #189
@rodrigo-brito Portuguese-BR translation is almost complete.
We must translate only 3 strings:

- ROOM/ZONE SELECTED
- Really delete room {0}?
- Delete room

[2016-10-06 16:20] rodrigo-brito commented on #189
Ok, I send a request in transifex.

[2016-10-06 16:33] rodrigo-brito commented on #189
@mcicolella Where are these strings?

[2016-10-07 06:56] mcicolella commented on #189
@rodrigo-brito In Jfrontend resource (Transifex) or https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/frontend-java/src/main/resources/data/i18n/jfrontend_pt_BR.properties

[2016-10-07 08:51] mcicolella opened #201 "Modbus plugin: testing and improvements"
We developed a plugin for Modbus based on modbus4j lib (https://github.com/infiniteautomation/modbus4j).
They changed the original code for RTU (serial communication) so we introduced a wrapper for serial ports.
Souce code: https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/modbus

We need:

- to test the plugin on different hardware
- to introduce test units at level code
- to

[2016-10-07 10:13] MilindaLaknath commented on #189
Hi @mcicolella,

I'm Milinda and I can translate it into [Sinhala](https://en.wikipedia.org/wiki/Sinhalese_language).
I like to contribute. Join me in.

Thank you.
Milinda

[2016-10-07 10:44] rodrigo-brito commented on #189
@mcicolella Thank you!

[2016-10-07 14:03] mcicolella commented on #189
@MilindaLaknath Thanks for your proposal! You can join our Transifex team and make a request for your language.

[2016-10-07 16:11] mjurinic commented on #189
Hey @mcicolella, I've sent you a request for Croatian on Transifex :)

[2016-10-08 06:29] mcicolella commented on #189
@mjurinic I can't see your request on Transifex.

[2016-10-08 15:17] #163 closed

[2016-10-08 16:06] mcicolella opened #206 "MySensors plugin: testing and improvements"
This plugin can control MySensors devices (https://www.mysensors.org/).
We need to align the code with the last version of their protocol (if needed) and test it on real hardware.
Source code: https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/mysensors

For more details you can visit the forum page (https://forum.mysensors.org/category/19/freedomotic) and the documentation htt

[2016-10-08 17:25] mcicolella opened #207 "Ideas & proposals (aka wishlist)"
This issue is a container for ideas, proposals and improvements about:
- features
- plugins
- clients
- documentation
  and so on.

A way to know the current status of the project and discuss about the future.
Please comment.

[2016-10-10 13:42] mcicolella opened #208 "Develop a mobile client"
#We have already a first prototype of Android client (https://github.com/freedomotic/fd-android-client) but it's not updated.
In the meantime we developed a new and complete RESTful API (demo http://localhost9111/ admin/admin as credentials).
We'd like to create a mobile app (maybe an hybrid one based on Cordova for code reuse on different platforms) to interact with our framework.

[2016-10-10 17:57] Tchinmai7 commented on #208
I can work on this. Native Android. Let me know what are the expected features.

[2016-10-10 21:24] mcicolella commented on #208
Hi
as first stage we'd like
- to login
- to select an environment, the list of rooms in it and the things
- for each thing to view its properties (aka behaviors) and send commands (e.g.  turn on, off)
- to list all installed plugins and start/stop it
- to list users
Thanks

[2016-10-11 06:21] mcicolella commented on #189
@brittat are you still interested in translating in Swedish?

[2016-10-11 13:54] mcicolella commented on #208
@Tchinmai7 we can add multilanguage support

[2016-10-12 00:50] andreybleme commented on #207
How can I help?
The idea is to discuss possible new features and plugins, etc? You want to create a wish list on the readme.md?

[2016-10-12 06:57] mcicolella commented on #207
@andreybleme Not a simple list. From the proposed ideas here we can create specific issues to work on.
E.g. developing a plugin for zigbee protocol (how to do this, which open libs to use, etc) or another for enocean.
Possible steps:
- propose an idea
- discuss it
- when anyone can manage it open a new issue

[2016-10-12 09:13] mcicolella opened #209 "Some improvements to MQTT client plugin"
The current plugin version (https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/mqtt-client) subscribes only a single topic as reported in the manifest.xml file (https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/mqtt-client/src/main/resources/mqtt-client-manifest.xml)

- We should extend it to subscribe more topics by reading them from a tuple block in the m

[2016-10-12 09:21] mcicolella commented on #208
We can use https://marvelapp.com/ for prototyping

[2016-10-12 12:34] rohanagarwal94 commented on #191
@mcicolella shall I work on this since the PR has not been generated yet?

[2016-10-12 13:27] mcicolella commented on #191
@rohanagarwal94 Of course if you want! We have already a resource for this language on Transifex https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/language/hi_IN/

[2016-10-12 13:40] #192 closed

[2016-10-12 14:16] mcicolella opened #211 "MaryTTS plugin: convert log messages to Slf4j"
We should convert all log messages to Slf4j in https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/marytts/src/main/java/com/freedomotic/plugins/marytts/MaryTTS.java

Ref. example https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/ipcamera-motion/src/main/java/com/freedomotic/plugins/devices/ipcameramotion/IpCameraMotion.java

[2016-10-12 15:24] ArkantosC commented on #211
Hi @mcicolella. I can help you with this one.

[2016-10-12 18:09] rohanagarwal94 commented on #191
@mcicolella please merge my PR.

[2016-10-12 19:06] atanasg commented on #209
I would start with the System.out.println() part

[2016-10-12 23:07] bureken commented on #189
I'd like to complete Turkish translation. I requested to join the them at transifex and waiting confirmation.

[2016-10-13 06:54] #191 closed

[2016-10-13 09:53] wolframtheta commented on #189
I can translate it to Catalan :)

[2016-10-13 09:59] rodrigo-brito commented on #189
We have the Catalan(Spain) trasnlation @wolframtheta,you can translate for other country or suggest corrections too.

[2016-10-13 10:01] wolframtheta commented on #189
I did not see the language the list...

[2016-10-13 10:02] rodrigo-brito commented on #189
Sorry @wolframtheta, I comment in the wrong issue.

[2016-10-13 10:03] wolframtheta commented on #189
Then, I can do it? I sent you the request on the page

[2016-10-14 03:52] pvtuan10 commented on #189
I will finish the existing Vietnamese translation.

[2016-10-14 09:19] mcicolella opened #217 "Mailer plugin: add support for attachments"
Our Mailer plugin can send notifications by mail when an event occurs (eg. an object is clicked) but it doesn't manage attachments.
It'd be useful to find a way to do this: for example sending a picture taken from the camera when motion detected (plugin https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/ipcamera-motion)

Plugin doc: http://freedomotic.com/content/plugins/mailer

[2016-10-15 09:25] P3trur0 commented on #217
Hi @mcicolella I can go with this, if you please.

[2016-10-15 09:47] mcicolella commented on #217
@P3trur0 OK!

[2016-10-15 17:36] P3trur0 commented on #217
#218 this should help in add attachment to e-mails.

[2016-10-16 10:23] mcicolella commented on #125
@P3trur0 What about this? Do you think we could use your solution for mailer to attach logs? We are thinking about a simple way to make simple for users to report issues.

[2016-10-16 10:38] mcicolella opened #219 "IpCamera motion plugin: save last captured image with a specific name"
Now when motion is detected the plugin saves an image in the format "camera_name-date.jpg".
In order to attach the image to an email using Mailer plugin we have to specify the file name in the command (as a fixed absolute path). Every captured image has a different name so it's difficult to do this.
The idea is to save the image also as "camera_name-latest.jpg". This file is replaced by every new

[2016-10-16 11:18] eternalBlast commented on #189
I will finish the Indonesian translation

[2016-10-16 11:31] P3trur0 commented on #125
@mcicolella my fix basically works as follow:

1. it enhances Mailer plugin to support the sending of attachments, if any;
2. it introduces an attachmentPath property to `MessageEvent` payload.

As far as I understand the code, Mailer class listens to either Commands or [Events](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/mailer/src/main/java/com/freedomotic/plugins/devi

[2016-10-16 12:41] mcicolella commented on #125
@P3trur0 First of all thanks for your support! It's a pleasure to discuss with you and share our opinions.
We can send commands programmatically (as in this sample https://github.com/freedomotic/freedomotic/wiki/Natural-language-processing)
Now in Jfrontend (java GUI for FD) we have a menu item ["Report an issue"](https://github.com/freedomotic/freedomotic/blob/a4967cd33bb4ba967d9c7ba20304f084fc16

[2016-10-16 14:01] rrishabhj commented on #219
how about saving the name in a shared preference.

[2016-10-16 16:33] P3trur0 commented on #125
@mcicolella you're welcome, my pleasure indeed.
About this issue I guess it is feasible. If you please I can give it a try next weekend.

[2016-10-16 18:12] #132 closed

[2016-10-16 18:31] #140 closed

[2016-10-17 06:46] mcicolella commented on #219
@rrishabhj What do you mean exactly?

[2016-10-17 13:32] #217 closed

[2016-10-18 08:38] mcicolella opened #222 "Extend Push plugin to send Telegram notifications"
Our Push plugin (https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/push) could support almost every provider that allows sending notifications with GET or POST http requests. ( http://freedomotic.com/content/plugins/push-notifications)

Telegram makes possible to send notifications by a simple Http request to
https://api.telegram.org/bot<yourBotAPI>/sendMessage?chat_id=<YourCh

[2016-10-18 16:58] mcicolella opened #223 "Some improvements to Mailer plugin"
Here some improvements for this plugin

- add a command file example with "attachment" property
- when the attachment is not found don't stop the plugin (notifyCritical method) but write a warning in the log and add to the email text message a sentence as "Attachment(s) not found: <file name>"
-  add javadoc to the classes

[2016-10-19 06:52] #223 closed

[2016-10-20 09:29] mcicolella opened #224 "Telegram Bot plugin: add a list of commands"
We have a first prototype of Telegram Bot plugin (https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/telegram-bot). It works well to send notifications from Freedomotic (a wiki page will be added soon with more instructions).
But it's intended to control the framework.
So we should define a list of commands (in bot style) and connect them to our API.
The bot skeleton is https:/

[2016-10-20 11:03] Clevero commented on #224
Would it be possible to use a mysql table for localization?
I personally use [this](https://github.com/rubenlagus/TelegramBotsExample/blob/master/src/main/java/org/telegram/services/LocalisationService.java) class

What functionality should be implemented inside the bot?

[2016-10-20 13:32] mcicolella commented on #224
@Clevero I'd avoid to use a database for that. We adopted i18n and Transifex to manage all translations. Your class seems interesting but it requires to modify the code every time you add a new language. We need a more flexible solution.

About the bot functionalities:
- a list of all commands (/list)
- some commands taken from our API (https://github.com/freedomotic/freedomotic/wiki/Freedomotic-A

[2016-10-20 14:19] Clevero commented on #224
I like to have a UI inside the chat.

Like this one
![bildschirmfoto zu 2016-10-20_16-10-28](https://cloud.githubusercontent.com/assets/6106081/19563368/f49f770e-96df-11e6-8f21-9e51a3ca31b4.png). (from a bot built with Chatfuel)

Give the example that someone taped on "Plugins" in the UI, I could imagine something like this: (https://telegram.me/myairbnb_bot)
![bildschirmfoto zu 2016-10-20_16-12-0

[2016-10-20 16:47] #211 closed

[2016-10-20 17:10] mcicolella commented on #224
@Clevero The UI is very nice. How to create it? Currently I'm considering every user creates his own Telegram bot so he must set token, username and chat_id. With this type of UI we should create an unique Bot (Freedomotic Bot) for all users and the chat_id should be the "unique" identifier. Is it right?
Please consider we are controlling our home so security is fundamental and bots are public.

[2016-10-20 20:49] Clevero commented on #224
The first one is done by a normal KeyboardButtons
The second with InlineKeyboardButtons (are a bit more flexible)

I've tried to setup my development environment for freedomotic but had some troubles with freedomotic and Eclipse. I will try it tomorrow on an another machine.

I couldn't find a client implementation of the REST API, is there one or should I implement one on my own?

[2016-10-21 09:59] #209 closed

[2016-10-21 13:26] mcicolella commented on #219
With the last changes to the mailer plugin we could send a MessageEvent to the mailer with the path of the last captured image.

[2016-10-21 16:59] mcicolella opened #225 "Simulation plugin: switch to Slf4j"
We are switching to Slf4j.
TrackingRandomPosition.java and TrackingReadSocket.java require some changes about
- classes import
- log level
- placeholders for message variables

Please refer to http://slf4j.org/faq.html and other plugin examples.

[2016-10-21 17:07] Helltux commented on #225
Java logging, sounds interesting.
Can I do this?

[2016-10-21 20:57] Helltux commented on #133
I take this

[2016-10-21 22:04] Helltux commented on #133
ok, thanks for the blog article but i think we need something to discuss.
You can see, i have set in the pom.xml the git remote repo. maybe we find a way to set this over a variable, to the git-user of the fork. Then everyone can make a javadoc an push to his own fork and make then a PR to the master.
Or we set this to the root of the project and only some one they have permission can make an upda

[2016-10-22 08:17] #225 closed

[2016-10-22 16:17] mcicolella commented on #133
I agree with you about the second way. I think the javadoc should be updated only by project's mantainers or better automatically when our CI system creates a new dailybuild.
@Helltux Is it possible to push to a subfolder of gh-pages e.g. /javadoc and not to the root?
@bestmazzo What do you think?

[2016-10-22 16:20] mcicolella commented on #166
@Helltux Can you take a look at this?

[2016-10-23 01:14] Clevero commented on #224
I've cloned the repo with
```git clone https://github.com/freedomotic/freedomotic.git```
and executed ```mvn clean install``` inside the new folder

When I want to program there are no suggestions and I'm not really familiar with freedomotic, so it would be cool if I would have some for development. There is also an error if I want to get some suggestions with CTRL+SPACE
![bildschirmfoto zu 2016-1

[2016-10-23 09:21] Helltux commented on #166
yes I can look at times. I think I need to learn something more about java Loggin, which is great!

I understand the problem correctly, that you by the change from Java loggin to slf4j this can no longer displayed? So do you want to change everything in the future to slf4j? Because is only important that the plugin can display the slf4j rows?

[2016-10-23 09:51] #188 closed

[2016-10-23 09:53] mcicolella commented on #193
Are you still interested in this?

[2016-10-23 14:23] mcicolella opened #227 "Database plugin for data persistence"
One of the most important feature is data persistence to analyze users' behaviours, sensors data to create charts and so on.
So we should collect and store events and commands to mantain a clear history of our home.
We have already a first prototype of database plugin (called Harvester https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/harvester / http://freedomotic.com/content

[2016-10-23 16:41] mcicolella commented on #224
I don't know what's the problem with Eclipse. I'm using NetBeans. Maybe the reason is freedomotic is a container for freedomotic-core and freedomotic-model.
The GUI is very nice!
We have already an API to move a thing to another position: POST /things/{id}/move/{x}/{y}
Is this do you mean?
About the implementation of the RestAPI do you mean a java client for it?

[2016-10-23 18:51] P3trur0 commented on #125
Hi @mcicolella I am developing this requirement.

The skeleton of the `MainWindow` behavior has been properly set up; the idea is to display an option dialog when the user clicks on the "Report an issue" menu item.

The above mentioned Option Dialog will offer two options to the user:

- Compile an external Google Form describing the issue;
- Send the logs (by Mailer plugin behind the scenes);

Li

[2016-10-24 04:26] Clevero commented on #224
Thank you :)

I'll try NetBeans for this.

Yes, I mean a java client. I could not find one for this project. With this I would execute the POST request you have given instead of fire up a normal POST request via HttpURLConnection.
Like
[code]
or something like that.

[2016-10-24 08:46] mcicolella commented on #125
Hi @P3trur0 great work!

1. We have some API so you can get a list of plugins with api.getClients("plugin"). Please refer to [this](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/resources/jersey/PluginResource.java) and [this](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core

[2016-10-24 08:50] mcicolella commented on #224
Take a look at our RESTApi plugin implementation (https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/resources/jersey). It could help you.

Let me know!
Thanks

[2016-10-24 11:56] P3trur0 commented on #125
Hi @mcicolella, thank you for your explanation!

About point n.1 yes, your explanation is definitely clear.
I'll go with that approach to verify if the `Mailer` plugin is properly running (by the way, is its identification name `"mailer"`?)

About n.2 instead, my question was something like:
how can I understand, in `MainWindow`, if the current `Freedomotic` instance has _log to file_ enabled?

My

[2016-10-24 15:40] mcicolella commented on #125
Hi @P3trur0

1. "Mailer" is the plugin name
2. Your method for checking if the log is enabled seems good. Consider it as "static". As reported in point a) of the issue the log misses some messages as you can see by starting Freedomotic from command line. Any idea?
3. FREEDOMOTIC_ROOT corresponds to the installation folder. You can find all "paths" in https://github.com/freedomotic/freedomotic/blob

[2016-10-24 18:27] P3trur0 commented on #125
@mcicolella,

[PR is on its way](https://github.com/freedomotic/freedomotic/pull/228)! :)

Good evening,
@P3trur0

[2016-10-25 13:51] mcicolella commented on #125
Hi @P3trur0
great work! I'll integrate it ASAP.
Thanks

PD: I'll ask your opinion about other topics

[2016-10-25 15:03] #125 closed

[2016-10-25 15:05] mcicolella commented on #227
@P3trur0 What's your opinion?

[2016-10-25 17:14] P3trur0 commented on #227
@mcicolella, AFAIK it seems an ideal scenario for EventSourcing.

It could make sense to store the events in something like a journal log to have a complete dataset both for analytics and data replaying.

Excuse any terseness and typos, I am on my mobile now!

[2016-10-25 19:21] mcicolella commented on #166
@Helltux Yes we are switching completely to Slf4j

[2016-10-25 19:23] mcicolella commented on #219
An example to test is [here](https://github.com/mcicolella/freedomotic/commit/9d1c2aa4ac4e52a63f0d8499fa11fb7d9de675ef)

[2016-10-25 19:43] mcicolella commented on #227
@P3trur0 In this approach are "executed commands" considered as system "events"?
For example if an user turns on/off a light we should have two "events" as
1. user X executed command "turn on light Y"
2. light Y changed its behavior "power" to "on"
Is it right?

[2016-10-25 20:18] mcicolella opened #230 "Save triggers, commands and reactions periodically"
Now when a new trigger/command/reaction is created it's stored in memory (into a [list](https://github.com/freedomotic/freedomotic/blob/a4967cd33bb4ba967d9c7ba20304f084fc166b34/framework/freedomotic-core/src/main/java/com/freedomotic/reactions/TriggerRepositoryImpl.java#L54) and it's saved to disk only when Freedomotic stops ([onExit()](https://github.com/freedomotic/freedomotic/blob/1e26a0a4df0be

[2016-10-26 08:17] P3trur0 commented on #227
@mcicolella good day!

Yes indeed: mentally shifting I could consider "commands" as events themselves (could commands be defined as _event to do an event_?), so technically speaking they should be both modeled as DTOs.

This should allow to persist both of the instance types on a EventSourced permanent storage.
So, if they are something like:

`TurnTheLight` as the command
`LightTurned` as event

[2016-10-26 08:19] P3trur0 commented on #219
@mcicolella

what about to compress all the images captured so far in a zip file and attach this single zip to the e-mail?

[2016-10-26 09:05] mcicolella commented on #219
@P3trur0 Good point!
But in this case when would be sent the zipped file?
I'm trying to explain: now when motion is detected an event is notified and a picture captured. So an user can receive an email or a telegram notification reporting a possible intrusion. This is in realtime so he can react immediately.
If motion is no more detected there are not other notified events. So how to determine whe

[2016-10-26 13:28] wiewioraseb commented on #230
I will be very happy to take this one.

[2016-10-26 14:29] mcicolella commented on #230
Hi @wiewioraseb
what's your proposal to fix it?
Thanks

[2016-10-26 14:42] wiewioraseb commented on #230
At first I thought about creating a @Scheduled annotation that saves data, but that's Spring annotation and we don't have it here. I guess I could use Timer class  (https://docs.oracle.com/javase/8/docs/api/java/util/Timer.html)  or quartz (http://www.quartz-scheduler.org/). Any interval suggestions?

[2016-10-26 17:12] P3trur0 commented on #219
@mcicolella ok then, I see your [example](https://github.com/mcicolella/freedomotic/commit/9d1c2aa4ac4e52a63f0d8499fa11fb7d9de675ef#diff-4148f89428b512b8424a1700010eae4bR260). It seems good, indeed in this way you can send an image for each motion detected (named `camera_name-<DATE>.jpg`). Am I understanding right?

But maybe I am still miss something. Do you like to avoid to lose any previously s

[2016-10-26 17:35] wiewioraseb commented on #230
I will finish my PR tomorrow.

[2016-10-26 17:40] mcicolella commented on #219
@P3trur0 I'm already capturing every image in the form camera-name_DATE_TIME.jpg.
Yes I'd like to send a notification with an attached image if required.

[2016-10-26 17:50] mcicolella commented on #230
Hi @wiewioraseb
I'd add the interval as a configuration property in config.xml (e.g. data-saving-interval).
Also I'd make this feature "optional" with a specific property in the same file, e.g. "enable-data-saving" or something similar with "on/off" values.
So users can decide if enable it or not and set its interval.

[2016-10-26 18:29] P3trur0 commented on #219
@mcicolella so your `ipcamera` branch does the trick very well :smile:

[2016-10-27 06:14] wiewioraseb commented on #230
Thanks for the suggestions, I will count that in.

[2016-10-27 19:14] wiewioraseb commented on #230
@mcicolella PR here #231. I will implement rest of the features tomorrow.

[2016-10-28 08:54] mcicolella opened #232 "Add a summary to Things folder"
When triggers, commands and reactions are saved to disk, a summary file (index.txt) is created in the same folder (see https://github.com/freedomotic/freedomotic/blob/a4967cd33bb4ba967d9c7ba20304f084fc166b34/framework/freedomotic-core/src/main/java/com/freedomotic/reactions/CommandRepositoryImpl.java#L220)

We should create the same for things when the method `saveObjects(File folder)` is called i

[2016-10-28 09:08] P3trur0 commented on #232
@mcicolella I can take this :)

[2016-10-28 09:50] mcicolella commented on #232
@P3trur0 Ok, thanks!

[2016-10-28 12:45] dudraj commented on #232
@mcicolella Can I take this.

[2016-10-28 14:27] mcicolella commented on #232
Hi @dudraj
@P3trur0 is already working on this.
Thanks

[2016-10-28 14:39] wiewioraseb opened #233 "Upgrading Java compiler from version 7 to 8"
Any particular reason freedomotic project is in Java 7 instead of Java 8? [reference](https://github.com/freedomotic/freedomotic/blob/bdc798fb59dc19d129b874baf1e1660238f66114/pom.xml#L265-L266)

Are you considering upgrading anytime soon?

[2016-10-28 14:46] mcicolella commented on #189
I'm closing this issue.
Thank you for your support

[2016-10-28 14:46] #189 closed

[2016-10-28 14:50] mcicolella commented on #227
@P3trur0 Any idea about a possible plugin architecture to manage this?

[2016-10-28 15:10] mcicolella opened #234 "API endpoint /environments/{id}/rooms/{id}/things/ not working"
If you try to retrieve the list of things of a specific environment room the API doesn't work.
It loops infinitely.
It seems a problem related to all endpoints where you need to specify a room id.
The RESTful resources are into https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/resources/jersey

How to test
Go t

[2016-10-28 20:01] P3trur0 commented on #227
@mcicolella I think your proposal about **Cassandra** should be ok. I'd prefer it over **MongoDB** just because it seems to me more robust and scalable.
However I've not big experience about their usages.
If you like I could give this task a try, but next weekend is my first available slot for this.

Is it fine?

[2016-10-28 20:32] P3trur0 commented on #232
HI @mcicolella,

I've a couple of questions about this issue:

1. [Here](https://github.com/freedomotic/freedomotic/blob/c389a672f155814878586d0cd23816d2f3de36df/framework/freedomotic-core/src/main/java/com/freedomotic/things/impl/ThingRepositoryImpl.java#L126) you are already saving some XML, right? So what's the actual need to be implemented?

2. `CommandRepositoryImpl` saves the `index.xml` in

[2016-10-29 09:05] mcicolella commented on #232
@P3trur0
1. XML files represent the things, indext.txt is a list of them in the folder. It's a way to identify a file object quickly (more difficult from its uuid).
2. Yes we have an index.txt for commands but no one for things.

If you have a Freedomotic installation under the folder **data** you can find other subfolders as **cmd**, **trg**, **rea** and **furn**. Into the last the environments (

[2016-10-29 09:10] mcicolella commented on #227
@P3trur0 Of course! If you want and when you have time.
We are thinking about Cassandra to use it with Apache Spark for data analysis but we can consider different solutions.
In this phase it's very important to have a storage system to preserve Freedomotic "history".
It's the base to create other advanced services.
So every idea is welcome!

[2016-10-29 09:32] mcicolella commented on #224
Hi @Clevero
if we'd control our Freedomotic instance from two different smartphone we'd manage two different chat id in the plugin (one for each smartphone client). Is it right? So I'd create different bot handlers.
Or is there another solution?
Hope it's clear.
Thanks

[2016-10-29 09:40] mcicolella commented on #208
@Tchinmai7 Still interested?

[2016-10-29 09:43] mcicolella commented on #207
For data persistence we opened #227

[2016-10-29 09:51] mcicolella opened #235 "Workflow for doc contribution"
We need help to write and update our documentation.
In particular we should define a good workflow for that.
Technical doc is based on Github wiki. Opening it to external contributes requires to create a specific repo (cloning the official one) and then syncronize the two.
This should be done by CI system.
This is an example http://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github

[2016-10-29 14:52] mcicolella commented on #224
Found it! I think the solution is to create a group, add the bot to the group, retrieve the chat id (a negative value in this case) and then configure the plugin with it.

[2016-10-29 17:16] P3trur0 commented on #232
@mcicolella thank you for your reply.

I've one more doubt about question 2:

The feature should be implemented in `ThingRepositoryImpl.saveObjects` or in `ThingRepositoryImpl.loadAll`?

Thank you!

[2016-10-29 23:49] Clevero commented on #224
The first version of the bot is ready to use.
![bildschirmfoto zu 2016-10-30_01-48-20](https://cloud.githubusercontent.com/assets/6106081/19833461/80c1a414-9e42-11e6-9be4-09e0bb774486.png)
![bildschirmfoto zu 2016-10-30_01-48-02](https://cloud.githubusercontent.com/assets/6106081/19833464/8be0681c-9e42-11e6-8ebf-0a95cde97ac5.png)

But I think it's dirty. Currently I'm making a GET/POST request per

[2016-10-30 14:27] mcicolella commented on #232
@P3trur0 I got it!
You are right. I think we should implement the feature in the "save" method to consider new things created during the session and do the same also for commands, triggers and reactions.
What's your opinion?

[2016-10-30 14:31] mcicolella commented on #224
@Clevero It's very great!
Is the code avaivable on a public repo? How can help you?
Thanks

[2016-10-30 17:38] P3trur0 commented on #232
@mcicolella yes, I do agree.

So I'd go with this implementation.

[2016-10-30 18:28] P3trur0 commented on #232
@mcicolella here you go!

I've created an utility class named `FileOperations` where, in the future, all the file utilities can be centralized.

Have a nice evening!

[2016-10-31 05:41] Tchinmai7 commented on #208
Sorry, was busy last month. can start next week or so

[2016-10-31 10:08] mcicolella commented on #235
For now we could mantain the wiki for tech documentation using a specific repo to manage PRs and start with ReadTheDocs for the user manual (actually we have only a few pages on the site http://freedomotic.com/content/users-tutorial).

@P3trur0 Your opinion?

[2016-10-31 17:10] #232 closed

[2016-10-31 18:16] mcicolella commented on #224
@Clevero Your prototype works! But we should make some changes.

1. FD has a local API instance running on http://0.0.0.0:9111 so we needn't to use our online demo. Maybe we could move IP and port to manifest file (telegram-bot-manifest.xml). And the same for credentials (admin/admin)
2. We have a HttpHelper class (https://github.com/freedomotic/freedomotic/blob/3ea0e1b428e81562bb12c9b5f765b3da5eb

[2016-10-31 20:27] Clevero commented on #224
Thank you, I'm very happy to hear that! :)

1. Yes, currently I do not have a running instance of freedomotic, but I will install on a Pi. Will edit this
2. Should we write a class/some classes with your HttpHelper class for this and future plugins?
Given the scenerio that some plugin in the future may have the same connection to the API (via the Rest API over Http), that it would be easier to mai

[2016-11-01 10:07] P3trur0 commented on #235
@mcicolella I agree to go with ReadTheDocs. It is a really good tool.
Personally I have no direct experience in setting up a repository using it, but browsing documentation built by ReadTheDocs is awesome.

I'd go with a separate repository for documentation and a CI environment to run some script performing the actual documentation generation (e.g.: [Sphinx](http://www.sphinx-doc.org/en/1.4.8/))

[2016-11-01 12:16] amenak77 commented on #234
Hi there,
I've double checked the issue and maybe there is something slightly different at work.
RESTapi call GET /environments/{id}/rooms works, but GET /environments/{id}/rooms/{id} loops infinitely

![scher_trig_swag](https://cloud.githubusercontent.com/assets/13914556/19889263/447ac4ce-a034-11e6-972d-5de3cf37a046.jpg)

On the contrary same call running as cURL on Chrome gives no problem

![sch

[2016-11-01 12:20] amenak77 commented on #234
Excuse me,
I missed the reference to the right last image. THIS is the right one

![endpoint_restapi](https://cloud.githubusercontent.com/assets/13914556/19889591/f3b34280-a035-11e6-8476-301d70445fb6.jpg)

Best regards, Alberto

[2016-11-01 14:44] mcicolella commented on #234
Hi @amenak77
maybe the problem is related **only** to Swagger doc.
I'm changing the issue title.

[2016-11-01 14:57] mcicolella commented on #224
1. OK
2. We create a RESTful API to make it accessible to other clients written in languages different from Java.
But we have a java API (https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/api/APIStandardImpl.java) so you'd use it.
For example take a look at https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/restapi-v

[2016-11-01 15:36] P3trur0 commented on #224
@mcicolella do you mean if I have any idea about good API agnostic implementation?

[2016-11-01 15:56] mcicolella commented on #224
@P3trur0 Yes. We are trying to solve @Clevero 's problem with the Telegram plugin (point 2) but at the same time find a good solution to reuse in other plugins that could require API interaction.

[2016-11-01 16:05] mcicolella commented on #235
I'm starting with a repository for users' documentation (e.g. fd-user-guide) to manage with ReadTheDocs.
The first step is to prepare a **topics index**.
Any idea?

[2016-11-01 16:10] P3trur0 commented on #224
@mcicolella if I understand properly the idea is to provide a RESTful layer at the `APIStandardImpl` level since the specific ones (e.g.: `PluginsResource`) are already provided.

Did I get the point?

However `APIStandardImpl` seems to me just a Facade to get specific resources (e.g.: `things()`, `triggers()`, etc.) while each of the Jersey implementation already offers endpoints like `list()` (e

[2016-11-01 17:17] amenak77 commented on #235
Hi,
As user's documentation the critical problems, in my opinion are all related to jfrontend, which is the main interface with Freedomotic. In particular I'd be rich in details about:
- Environment creation
- Environment personalization
- Multi floor management
- Plugins management and how to deal with marketplace
Plugins aren't usually very critical except some plugins which are quite specific a

[2016-11-01 18:42] amenak77 commented on #235
Hi again,
Missed a lot of things ;) As a manual for users we should begin with a
- General part and a subtitle "What is Freedomotic?" speaking also about open source, GPL2 licence and contribution. Moreover all references to Freedomotic group and website
- Fredomotic GUI Jfrontend with all points already described; in particular point three (plugins) needs a description of manifest.xml file (What

[2016-11-02 07:53] amenak77 commented on #207
Maybe someone could be interested in developing or refactoring:
- freedomotic angular client or polymer web app;
- zigbee plugin is a good idea for sure, and an enocean one I'd say;
- give intelligence to the framework;
- a single page application to calibrate freedomotic's headless parameters
- a jfrontend graphical symbol which gives to the user information when internet service is missing

[2016-11-02 09:04] mcicolella commented on #235
@amenak77 Thanks! Good points!

[2016-11-02 09:09] mcicolella commented on #207
@amenak77 The last point (missing internet connection) could be managed with a callout on the map.
E.g. "No Internet connection. Please check" or something similar. But I think this should be a system event also for headless installations.

[2016-11-02 15:23] amenak77 commented on #207
@mcicolella I agree with you: a callout on the map but also an event for headless, maybe readable by a graphical configuration page on a browser. Some kind of boolean flag setted to true or false if internet connection is present or not. But also a system message readable if you run freedomotic in command line window; however if you run freedomotic headless not in command line window, I guess you'

[2016-11-03 06:52] amenak77 commented on #152
Maybe I am off topic, but following as shown in wiki page Restapi v3 related, running freedomotic on localhost you can point to Restapi at https://localhost:9113, but in my opinion, it fails. A second check is needed, but if so we should change the wiki

[2016-11-03 07:39] mcicolella commented on #152
Thanks @amenak77 I fixed it.

[2016-11-03 07:45] mcicolella commented on #224
@P3trur0
Now @Clevero is making http requests to RESTful API. If I'm not wrong he'd create a java client for this task to avoid to rewrite those requests any time they are needed.
Eg. CLIENT-RESTFUL.things() makes an HTTP request to RestApi.
So if we change the API implementation no code change is required unless the interface is modified.

@Clevero Is it right?

[2016-11-03 07:46] mcicolella commented on #224
I have some doubts about this: too many layers. Maybe with the plugin we can use directly the APIStandardImpl.

[2016-11-03 07:59] P3trur0 commented on #224
@mcicolella maybe it depends on the approach you use to access the resources:

- RESTful API should be ok if you plan to access those by an agnostic third party service;
- Java API should be ok if you plan to access those using the freedomotic JAR dependencies.

Unluckily I have not (yet :smile:) enough experience on freedomotic codebase to give a final advice, but the above mentioned one is a mor

[2016-11-03 09:01] amenak77 commented on #234
Hi, It is possible that something should be updated here
https://github.com/freedomotic/freedomotic/commit/66c69cf09576e6162d0cccb5b281fba6a89229ac
- Copyright (c) 2009-2014 Freedomotic team http://freedomotic.com
- plugins/devices/restapi-v3/pom.xml
<jersey.version>2.12<jersey.version>
<artifactId>swagger-jaxrs_2.11</artifactId>
 <version>1.3.10</version>
<artifactId>atmosphere-runtime</artifactI

[2016-11-03 09:05] amenak77 commented on #234
Excuse me, main reference was trunked; here is the right one:
https://github.com/freedomotic/freedomotic/commit/66c69cf09576e6162d0cccb5b281fba6a89229ac

[2016-11-03 09:08] amenak77 commented on #234
All right, I don't know what is going on; the reference is to Restapi Swagger. Have a nice day, A.

[2016-11-03 09:53] mcicolella commented on #235
Hi all
I'm setting the skeleton of the manual before moving it on the official repository. In this phase I'm defining a TOC as a working guide so please comment if you have any suggestions: titles, chapters and how to order them.
The demo is available at https://freedomotic-test-mcicolella.c9users.io/docs/build/html/index.html (work in progress)

[2016-11-03 10:12] mcicolella commented on #235
I like much the Jupyter doc (http://jupyter.readthedocs.io/en/latest/)

[2016-11-03 10:15] amenak77 commented on #235
Hi @mcicolella good work! The only thing I'd change is putting in main menu the point "freedomotic headless" and "freedomotic running in command line window"; just to give them the right kind of visibilitiy. I presume you thought about a sub chapter inside "basic configuration" or "jfrontend plugin". Not a so great problem however. Well done, thank you

[2016-11-03 10:17] amenak77 commented on #235
I like the jupiter doc too!  +1

[2016-11-03 10:20] P3trur0 commented on #235
@mcicolella [this](https://github.com/freedomotic/freedomotic/issues/235#issuecomment-258100588) rocks!

[2016-11-03 10:24] amenak77 commented on #235
@P3trur0 Thank you very much for your great contribution to freedomotic project

[2016-11-03 10:56] mcicolella commented on #235
Updated to the Jupyter theme but I must review the layout and change the colours.

[2016-11-03 12:17] amenak77 commented on #235
It looks great! There was also a big logo in the upper left side ;)

[2016-11-03 13:10] amenak77 commented on #207
Another important point to develop (quite developed and never tested) is an already complete plugin for jemma framework (energy@home); about testing we have a verified hardware list here   http://ismb.github.io/jemma/supportedhw.html . A solution can be achieved with a smart plug (BitronHome or 4-noks) devices side and jemma running on raspberry pi (Raspbian, Ubuntu 14.4 LTS, java8  https://github

[2016-11-03 13:42] amenak77 commented on #207
we are cited here last year http://www.slideshare.net/ric_iot/how-to-control-your-smart-appliances-and-why-with-jemma-arduino-yn
![jemma_freedomotic](https://cloud.githubusercontent.com/assets/13914556/19968164/af6e4e54-a1d3-11e6-85b9-53755f712e2a.jpg)

![jemma_freedomotic_2](https://cloud.githubusercontent.com/assets/13914556/19968169/b9395f00-a1d3-11e6-9fb1-c444743e48fe.jpg)

![jemma_freedomotic

[2016-11-03 14:10] amenak77 commented on #207
It should be interesting also develop a plugin for Iooota platform Jarvis; they have proprietary custom hardware and make downloadable software freely; they are also creating a mixed public/private IoT network near Bologna where they are placed. For what I know the first in its kind here in Italy. It would be great be part of it

[2016-11-05 17:14] mcicolella commented on #235
The structure is ready! Many contents must be updated. Take a look at https://freedomotic-test-mcicolella.c9users.io/docs/build/html/index.html

[2016-11-05 17:29] mcicolella commented on #224
@Clevero any news?

[2016-11-05 20:35] amenak77 commented on #207
There is already an augmented reality freedomotic plugin prototype but at the moment is not available

![s-cube-3](https://cloud.githubusercontent.com/assets/13914556/20033375/5101ea4c-a39f-11e6-9d4f-9f186c7c62a1.jpg)

Is there anyone who should work on this?

[2016-11-05 20:56] amenak77 commented on #207
here is the link  http://jol.telecomitalia.com/jolscube/en/lattivita-del-jol-s-cube-in-ambito-smart-home/
Best regards, Alberto

[2016-11-06 14:08] #230 closed

[2016-11-07 15:29] mcicolella commented on #219
Fixed in https://github.com/freedomotic/freedomotic/commit/eeab11f409cc6bbb7b399a9bc7d9006cbc8a4c42

[2016-11-07 15:29] #219 closed

[2016-11-10 07:52] mcicolella commented on #227
It's very important to track the user who makes an action (e.g. Bob turns on the tv or the livingroom light at 8:00 pm) so the system can learn his habits and give some recommendations. It's simple if we use a sw client to do that but how to track a pushed phisycal button?

[2016-11-10 08:05] P3trur0 commented on #227
@mcicolella do the physical elements have an UUID so far?
If so, the persistence operation could be store also the identifier of the resource that's triggering the event itself.

[2016-11-10 09:14] mcicolella commented on #227
@P3trur0 I'm considering a generic scenario where the resources don't have a physical ID. But my concern is related to user's ID. How can I identify the person who has turned on the TV or pushed a "button"?

[2016-11-10 09:17] P3trur0 commented on #227
@mcicolella so you mean a physical event occurred outside of freedomotic on a resource however registered on the system?

[2016-11-10 10:11] mcicolella commented on #227
@P3trur0 Yes. For example we have the following use case (http://freedomotic.sednet.it/casi-duso/gestione-appartamento/) to manage a flat via relais board. The user can control his home with Freedomotic or with the physical buttons to turn on/off the lights. In the second case Freedomotic detects the event but it can't know who pressed the button. So the system can't learn the user's habits as I w

[2016-11-10 10:19] P3trur0 commented on #227
@mcicolella Yup, I see the point.

I guess that, since this scenario is out of the GUI, we should assume that the external event belongs to a general abstract entity (e.g.: House) more than to a specific user.

Later, in the learning mechanism, we'd give a different weight to the events occurred outside the client.

[2016-11-10 10:25] mcicolella commented on #235
The first demo is available on RTD http://fd-user-manual.readthedocs.io/en/latest/ - http://readthedocs.org/projects/fd-user-manual/downloads/pdf/latest/
A lot of work to do!

[2016-11-10 13:03] P3trur0 commented on #184
@mcicolella did you consider React for web client development?

[2016-11-10 14:24] mcicolella commented on #184
@P3trur0 No. Our web developers decided to use Polymer.

[2016-11-10 14:25] P3trur0 commented on #184
@mcicolella ok :)

Il gio 10 nov 2016, 15:24 Mauro Cicolella <notifications@github.com> ha
scritto:

--
Ubaldo Pescatore
ubaldopescatore@gmail.com
Github: http://github.com/P3trur0
Public Key: keybase.io/P3trur0/key.asc

[2016-11-10 14:27] P3trur0 commented on #184
@mcicolella ok

[2016-11-10 18:13] amenak77 commented on #184
Hi all,
about web app test I noticed a problem, the same with Freedomotic itself; when you reduce to icon web app browser's window and change events in freedomotic jfrontend, GUI's changings aren't shown immediately after browser's window pop up. The desync usually ends when you create a new event on web app map. The same happen during jfrontend (aka freedomotic) "iconization" but in a worse way.

[2016-11-10 19:51] amenak77 commented on #235
Hi,
@mcicolella GREAT WORK!!!

[2016-11-12 16:05] mcicolella commented on #235
I'm closing this issue because now we have a specific repository for user manual https://github.com/freedomotic/fd-user-manual
All related issues can be opened there.
Thanks

[2016-11-12 16:05] #235 closed

[2016-11-13 13:56] Clevero commented on #224
@mcicolella
Sorry for the late reply, my vacation has ended and there wasn't so much time currently, and I've forgot to answer you :(

I agree with all of you: It would be better if we use `APIStandardImpl`. You mentioned this much earlier @mcicolella but I thought I could not use it in that way, my fault.

I will change this in the next days.

[2016-11-13 17:53] mcicolella commented on #224
Thanks @Clevero don't worry.

[2016-11-16 10:36] mcicolella commented on #166
@Helltux Any news?

[2016-11-17 09:47] Helltux commented on #166
Oh yes, sry i'm back to a paid job. I'll see if I find time.
But I have not yet found a way to get the logs from the root logger.

[2016-11-20 20:01] P3trur0 commented on #227
@mcicolella I am keep on working on this plugin.

[Here](https://github.com/P3trur0/freedomotic/commit/7111870ac7697776d236275f917109a08bb6217f) you can see a first draft of its structure to interact with Cassandra.

I've set up an integration test environment using a Docker image of Cassandra 3.9.

So far the plugin is able to startup a cluster and define a Freedomotic keyspace if it does not exi

[2016-11-21 08:54] mcicolella commented on #227
Hi @P3trur0
I'll check it with more attention.
For now just two notes:
- the package name we adopted for all plugins is "com.freedomotic" not "it.freedomotic"
- I saw Cassandra instance parameters are set in the pom.xml. Is it a temporary solution because you haven't yet created the plugin with its manifest file?

Thanks for your great work!

[2016-11-21 08:59] P3trur0 commented on #227
Hi @mcicolella,

thanks!

- the package names have been fixed (they'll come in the next commit ;));
- the parameters you see in the pom.xml are the ones used for the Integration Test (however, they are currently not yet managed) container.

For the plugin I am considering to use an external configuration file like **persistence/persistence.xml**. Is it fine, right?

Thank you!

[2016-11-21 09:28] mcicolella commented on #227
The plugin requires its configuration file persistence-manifest.xml (if "persistence" is its definitive name).
You can include the parameters for Cassandra instance or add a specific file as in Harvester plugin
https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/harvester/src/main/resources

[2016-11-21 09:37] P3trur0 commented on #227
@mcicolella if you like "persistence" as name I'd stay with it :) Otherwise I am open to other proposals, of course!

[2016-11-21 18:58] amenak77 commented on #227
Hi,
"persistence" is perfect; I'm with Mauro: great work!! @P3trur0 obviously adding persistence to freedomotic is the first step (and with it there will be a great amount of data to work with), but what will be, in your opinion, next step to add "intelligence" to the framework? All the project would go to a higher level; have a nice evening, Alberto

[2016-11-21 19:40] P3trur0 commented on #227
@amenak77 nowadays machine learning and data analysis are surely buzzwords, so we could use the persisted events and commands to study the behaviours of the users trying to predict/suggest future interactions with the framework.
Thank you too for keeping me involved in this cool project!

[2016-11-24 07:25] mcicolella commented on #166
@P3trur0 Any idea about fixing?

[2016-11-24 08:12] P3trur0 commented on #166
@mcicolella what is the actual problem? Is the plugin dependency to be updated to work with SLF4J, right?

[2016-11-24 08:21] P3trur0 opened #238 "freedomotic-model pom.xml should contain a <pluginManagement> tag"
The **freedomotic-model** Maven project does not build if opened with Eclipse IDE, due to [this error](https://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.html) in the M2E plugin.

Then, in order to allow a proper compilation of **freedomotic-model** Maven project with Eclipse IDE the **<plugins>** section of the pom.xml should be wrapped in the **<pluginManagement>** tag. Like thi

[2016-11-24 08:44] mcicolella commented on #181
There is another interesting lib for gpio https://github.com/lefranchi/gpio4j
It is used on Udoo board.

[2016-11-24 10:33] mcicolella commented on #166
@P3trur0 Yes we should list all log messages filtered by level.

[2016-11-24 22:13] mcicolella commented on #238
Can you submit a PR for this?
Thanks

[2016-11-27 08:58] P3trur0 commented on #238
@mcicolella here you go,

[2016-11-27 14:56] #238 closed

[2016-12-02 10:10] mcicolella commented on #193
I'm closing this. No reply.

[2016-12-02 10:10] #193 closed

[2016-12-02 14:42] mcicolella commented on #227
@P3trur0 I'm adding your fork link so anyone can follow your work and contribute with ideas and suggestions
https://github.com/P3trur0/freedomotic/tree/issue_227/plugins/devices/persistence

[2016-12-02 16:10] P3trur0 commented on #227
@mcicolella yes for sure! Every comment is definitely welcome!

I'll have spare time to spend on freedomotic again from Thursday the 8th :)

[2016-12-06 17:37] rtrive opened #241 "Problem install reactions from plugin"
Hi, i've noticed some problem with reactions when i coding my plugins.
I create a folder data/rea to insert the .xrea file but when the the core try to load all reactions it comes out with an error: "comand xxx not found".
Here's the problema, the command exists. I try to load manually the file .xrea on framework-core/data/rea instead of folder rea on my plugin and with this method there's no prob

[2016-12-08 11:10] mcicolella opened #242 "applySensorNotification method raises an exception when protocol and address properties are missing in events"
This method tries to retrieve "protocol" and "address" values in the [event](https://github.com/freedomotic/freedomotic/blob/c389a672f155814878586d0cd23816d2f3de36df/framework/freedomotic-core/src/main/java/com/freedomotic/core/TriggerCheck.java#L132).
Some events (as TemperatureEvent, LuminosityEvent etc) don't add these properties because not related to a specific protocol. So a "IndexOutOfBound

[2016-12-08 20:04] P3trur0 commented on #227
Hi guys, finally I've prepared a first mergeable version of a Persistence plugin to save serialized events on Cassandra.

See PR #243

[2016-12-08 23:24] amenak77 commented on #227
Hi,
Great, great work!!!

2016-12-08 21:04 GMT+01:00 Peter Pan <notifications@github.com>:

[2016-12-13 14:56] #242 closed

[2016-12-15 07:25] gappsil commented on #208
How can we get more details..?

[2016-12-15 09:49] mcicolella commented on #241
@futurama92 do you have this problem only with commands related to objects (e.g. Turn on/off object-name) ? In other words is the exception raised only with commands created dinamically?

[2016-12-17 10:44] mcicolella commented on #224
@Clevero I just completed the plugin refactoring. Now it uses APIStandardImpl instead of RESTful calls.
The code is on my own branch https://github.com/mcicolella/freedomotic/tree/telegram

[2016-12-18 16:26] futurama92 commented on #241
the answers are yes for both questions

[2017-01-03 08:30] mcicolella opened #244 "Localize commands/triggers/automations name and description"
Danny already provided a temporary solution to generate commands with the right locale. A more structured solution should be needed to extend this feature to all resources.
https://github.com/ShanksSGV/freedomotic/tree/energy-at-home/plugins/objects/energyathome-things/src/main/resources/data
https://github.com/ShanksSGV/freedomotic/blob/energy-at-home/plugins/objects/energyathome-things/src/main/

[2017-01-14 17:58] mcicolella opened #245 "fireHttpRequest method in HttpHelper class throws an exception with null username/password"
When the method is called with null username and password the following exception is raised

ERROR [Thread-77] - Username may not be null
java.lang.IllegalArgumentException: Username may not be null
    at org.apache.http.util.Args.notNull(Args.java:54)
    at org.apache.http.auth.UsernamePasswordCredentials.<init>(UsernamePasswordCredentials.java:80)
    at com.freedomotic.helpers.HttpHelper.fire

[2017-01-15 15:50] #245 closed

[2017-01-15 16:24] mcicolella commented on #181
Maybe the best solution is WebIOPi http://webiopi.trouch.com/
It's based on REST API, the configuration is managed via browser and the plugin could control one (or more boards) even if it doesn't run on the board.

[2017-01-17 08:10] P3trur0 opened #246 "Event UUID is commented out"
In order to support a proper identification of each triggered event, it should be necessary to mark each of them with their proper identification UUID. Although originally supported, [here](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/api/EventTemplate.java#L119) there are a couple of code lines generating events UUID commented out

[2017-01-17 08:18] P3trur0 opened #247 "Add a generic property to identify events or command payloads"
Currently, there is no easy way to detect if a set of payload properties contained in objects belong to Command or Events.
It could be useful to add a generic property, while building the instance, to flag if the payload is either of an Event or of a Command.

For example, in the case of Events `EventTemplate` class, it could be added (e.g.: [here](https://github.com/freedomotic/freedomotic/blob/m

[2017-01-17 09:47] mcicolella commented on #246
@enriconicoletti what about?

[2017-01-17 09:47] mcicolella commented on #247
@enriconicoletti what about?

[2017-01-18 10:30] mcicolella commented on #246
@P3trur0
Commands have their unique UUID https://github.com/freedomotic/freedomotic/blob/a4967cd33bb4ba967d9c7ba20304f084fc166b34/framework/freedomotic-core/src/main/java/com/freedomotic/reactions/Command.java#L95

Maybe in the EventTemplate class the code is commented because the method UidGenerator.getNextUid() is not used and replaced by UUID.randomUUID().toString()

[2017-01-25 11:55] P3trur0 commented on #246
@mcicolella ok then. So what about to add it in the `fillPayloadWithDefaults` method of `EventTemplate`?

[2017-01-25 14:44] mcicolella commented on #246
@P3trur0 Ok! And also a getUUID() method.

[2017-01-25 20:56] #246 closed

[2017-01-27 17:30] mcicolella commented on #134
@P3trur0 what do you think?

[2017-01-27 17:32] mcicolella commented on #117
@P3trur0 what do you think?

[2017-01-27 17:40] mcicolella commented on #126
@P3trur0 what do you think?

[2017-01-27 18:16] P3trur0 commented on #117
Hi @mcicolella I'd go with the easiest approach, I mean by disabling the UpFolderButton in GUI.

Btw, if you agree I'd like to pick this.

[2017-01-27 18:32] P3trur0 commented on #126
@mcicolella this seems a little abstract scenario. What do you specifically mean with startup problem? The front end part or the engine itself?

One proposal could be to send either an e-mail or to display a basic GUI prompt.

However, we should evaluate how much each of those approaches could be feasible according to the failure scenario (e.g.: if the JVM goes down it'd be difficult to perform an

[2017-01-27 18:39] P3trur0 commented on #177
@mcicolella if I properly understand here the requirement is to remove the `.xenv` file each time an environment is deleted both from Jfrontend and APIs.

In which Java class can I find the environment removal operation?

[2017-01-27 18:41] P3trur0 commented on #134
@mcicolella what about a configuration menu/panel on the JFrontend?

[2017-01-28 10:29] mcicolella commented on #222
I'm closing it.
We developed a specific plugin for Telegram.

[2017-01-28 10:29] #222 closed

[2017-01-28 10:37] mcicolella commented on #126
@P3trur0
I agree with you. If you start Freedomotic manually from command line you can see any log message about startup problems: environment file not found, network not available, other missing files etc
But an unmanned/headless installation requires a notification system. The same if you start FD by .exe or .sh file: the spash screen disappears and you don't know what happened.

[2017-01-28 10:43] mcicolella commented on #134
@P3trur0 the "unit measure" should be considered as a thing property, a behavior. My concern is having a fixed list of possible values or giving the user any freedom. He can specify any value, but in this case he could use "C/F" instead of "W" for an electric device power.

[2017-01-28 12:00] P3trur0 commented on #177
@mcicolella what about deleteAll method? Should in this case the default enviroment be removed?

[2017-01-28 17:00] #247 closed

[2017-01-28 17:31] mcicolella commented on #177
@P3trur0 I think that the default environment shouldn't removed anyway. IMHO it's an integrity constraint.

[2017-01-28 17:54] P3trur0 commented on #177
@mcicolella ok then, so deleteAll, despite its actual name will delete all but the default one. Is this ok?

[2017-01-28 18:14] P3trur0 commented on #177
@mcicolella are you sure that `KEY_ROOM_XML_PATH` does contain the reference to default environment? It seems containing a reference to the folder, not to the default environment.

[2017-01-28 22:05] mcicolella commented on #177
@P3trur0 it points to the default .xenv file

[2017-01-30 08:08] P3trur0 commented on #177
@mcicolella please see [this PR](https://github.com/freedomotic/freedomotic/pull/251), I guess it resolves the problem.

[2017-01-31 14:54] #117 closed

[2017-02-02 09:12] mcicolella commented on #177
Integrated! Thanks

[2017-02-02 09:12] #177 closed

[2017-02-02 09:23] mcicolella opened #252 "Building of armhf (32 bit) Docker image failed"
[This ](https://hub.docker.com/r/freedomotic/freedomotic/builds/bqmegxi3tets7rschie72fe/ )is the log.

In particular the reported error is `Build failed: The command '/bin/sh -c apt-get update && apt-get upgrade -y' returned a non-zero code: 2` .

The other images (for amd64) are OK. Any idea?

[2017-02-02 09:34] P3trur0 commented on #252
I am not expert about Docker, but maybe the problem could be the same described [here](https://github.com/docker-library/mysql/issues/228)

[2017-02-02 15:59] mcicolella commented on #252
@P3trur0
Infact by default Docker Hub manages only amd64 images.
But I found a solution based on qemu and powered by resin.io. The building is OK but I have to test it on a Raspberry or another arm 32 bit platform
[Here](https://github.com/mcicolella/docker-examples/blob/master/Dockerfile) the dockerfile.
Now I need an image for arm64.

[2017-02-02 16:01] mcicolella commented on #252
Also it installs the[ Zulu Embedded JDK](https://www.azul.com/downloads/zulu/zdk-8-ga-linux_aarch32hf.tar.gz) that is considered one of the best implementation for these boards.

[2017-02-03 10:09] #252 closed

[2017-02-06 15:23] mcicolella commented on #126
Another notification: when the network is not available (e.g. PC not connected to a LAN/WLAN) FD stops with a lot of error messages

`ERROR [main] - Failed to start Apache ActiveMQ ([ba0cb4d7-8aa8-4ad6-8241-7264de82a50f, ID:emmecilab-42086-1486394041702-0:2], java.net.SocketException: bad argument for IP_MULTICAST_IF2)
INFO  [main] - Apache ActiveMQ 5.14.1 (ba0cb4d7-8aa8-4ad6-8241-7264de82a50f, ID

[2017-02-10 15:18] mcicolella commented on #120
I'm closing this issue. All the documentation is hosted on http://freedomotic-user-manual.readthedocs.io/en/latest/advanced-features/p2p.html

[2017-02-10 15:18] #120 closed

[2017-02-11 10:27] mcicolella opened #253 "Remove unused properties in config.xml"
Some keys are no more used so they should be removed to make config.xml more readable.
E.g.
KEY_COLORED_PEOPLE
KEY_JAVACOM_LIB
KEY_SHOW_WEBSITE_ON_STARTUP (in this case we should remove also [this code block](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/app/Freedomotic.java#L252) in Freedomotic.java class)

[2017-02-11 10:45] mcicolella opened #254 "Remove 'serial' folder"
Freedomotic doesn't use rxtx serial library so the related folder should be removed.

[2017-02-13 16:55] #253 closed

[2017-02-25 17:23] mcicolella commented on #119
Moved to http://freedomotic-user-manual.readthedocs.io/en/latest/releases/content-releases.html

[2017-02-25 17:23] #119 closed

[2017-03-01 14:09] mcicolella commented on #224
Another version available.
New GUI, multilanguage support. Work in progress...

[2017-03-12 17:32] P3trur0 opened #256 "Each freedomotic instance should have a final identifier"
Currently, when a freedomotic instance starts, it checks if a UUID for the current instance has been provided at startup, otherwise it creates a new random identifier.

However, this random identifier, is not persisted, so at each freedomotic restart the identifier changes again.

It could be useful to persist this generated id somewhere, for example in the `config.xml`.

[2017-03-12 17:59] P3trur0 commented on #256
Solved by #257.

[2017-03-12 19:50] mcicolella commented on #227
Fixed by #258

[2017-03-12 19:50] #227 closed

[2017-03-12 19:56] mcicolella commented on #256
Fixed by #257

[2017-03-12 19:56] #256 closed

[2017-03-17 00:23] amenak77 opened #259 "jfrontend "freeze" bug"
When Freedomotic runs as an icon in OS traybar, Freedomotic's GUI, the jfrontend doesn't update Freedomotic objects status, so there is an "out of synchro" between objects status and their representation in the GUI when the framework pops up from the traybar. We called this bug "freeze"

[2017-03-17 01:05] amenak77 commented on #234
HI, I've found an interesting news; last Freedomotic swagger.js version 2.0.39 came out in 2014; in 2015 there was ver 2.1.6. I don't know what is actual swagger.js ver number but maybe a little update is in order; after all they have closed more than 450 issues 'til now. Same considerations for swagger-ui.js. Best reg. A.

[2017-03-17 17:26] mcicolella opened #260 "RestAPI: "add new user" by username and password"
Now we already have an API to add a new user but it requires the following schema as parameter

`{
  "name": "",
  "password": "",
  "roles": [
    ""
  ],
  "properties": {
    "values": "java.util.Collection<V>",
    "empty": false,
    "entrySet": "Set[java.util.Map.java.util.Map$Entry<K, V>]",
    "keySet": [
      "K"
    ]
  }
}`

We should add another API in which only username and password

[2017-03-18 15:11] amenak77 commented on #224
some little bugs to wipe out maybe with not so much problems:
- freedomotic bot telegram plugin blocks itself if the framework remains too much in traybar as an icon: problem vanishes with a plugin stop/restart
- italian translated commands works but not completely
- notified strings doesn't contain last bracket

[2017-03-18 15:12] P3trur0 commented on #259
I'll give it a try!

[2017-03-18 17:52] mcicolella opened #262 "Jfrontend: add "register new user" option"
It could be added in the splash login and in the main menu

[2017-03-19 15:23] mcicolella opened #263 "Add "plugin status" property to PluginHasChanged event"
With this property we can send more complete events when a plugin starts, stops or fails. Specific triggers can intercept these situations.

[2017-03-21 09:31] mcicolella commented on #259
Fixed in #261

[2017-03-21 09:31] #259 closed

[2017-03-25 10:10] mcicolella opened #265 "Avoid duplicated messages in log files"
Now we have duplicated messages in log files due to different appenders:

1. "default.file" is set in [log4j.properties](https://github.com/freedomotic/freedomotic/blob/0a9c5058df3dd57abe00806e1864b24084d57fab/framework/freedomotic-core/src/main/resources/log4j.properties)
2. another is enabled programmatically in Freedomotic.java

We should remove the first when the second is enabled so we can lo

[2017-03-25 10:34] #265 closed

[2017-03-29 14:11] mcicolella opened #266 "[WARNING] The artifact org.apache.commons:commons-io:jar:1.3.2 has been relocated to commons-io:commons-io:jar:1.3.2"
We need to change the groupID to "commons-io".
Please consider to update the library. Last version available is [2.5](to commons-io:commons-io:jar:1.3.2)

[2017-04-08 16:39] #266 closed

[2017-05-31 09:30] #254 closed

[2017-06-03 15:29] mcicolella opened #267 "Extra conditions in Automations not correctly evaluated when the value is a constant"

[2017-06-04 12:59] #267 closed

[2017-06-19 16:05] mcicolella opened #268 "Telegram-bot plugin not working with last dailybuilds"
The following exception is raised at startup

`Exception in thread "main" java.lang.NoClassDefFoundError: Could not initialize class com.fasterxml.jackson.databind.SerializationConfig
	at com.fasterxml.jackson.databind.ObjectMapper.<init>(ObjectMapper.java:558)
	at com.fasterxml.jackson.databind.ObjectMapper.<init>(ObjectMapper.java:474)
	at org.telegram.telegrambots.bots.DefaultAbsSender.<init>(D

[2017-06-26 07:02] mcicolella commented on #268
It seems related only to Linux 64 bit platforms. On Windows 8.1 64 bit it works well.
In each case I'm using Oracle Java 1.8.
@P3trur0 any idea?

[2017-06-26 07:06] P3trur0 commented on #268
@mcicolella are the library dependencies properly provided? Which Jackson version has being used?

[2017-06-26 14:48] mcicolella commented on #268
Yes. The libraries are dependencies of
<dependency>
            <groupId>org.telegram</groupId>
            <artifactId>telegrambots</artifactId>
            <version>2.4.4.5</version>
</dependency>
The strangeness is that the same plugin works on Win and not on Linux. I haven't a Mac to make some tests and maybe I should try on a Linux 32 bit.

[2017-06-27 17:16] #263 closed

[2017-06-29 17:43] P3trur0 commented on #268
@mcicolella I have the same problem on a Linux 32bit VM. I'll give a look right now.

[2017-06-29 18:29] P3trur0 commented on #268
PR opened. See #269.

[2017-06-29 18:40] P3trur0 opened #270 "General code gardening"
Hi there,

navigating in the source code I see a lot of commented lines. Is it worth to clean it a little by removing unnecessary commented lines?

The main advantage of this cleaning is to make the code easier to read, then more elegant and appealing for further contributors.

Opinions anyone?

[2017-06-30 06:49] mcicolella commented on #270
@P3trur0 I agree. We should review the code, remove unnecessary comments and create new issues from "TODO" ones. Also please consider  https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic

[2017-06-30 06:55] P3trur0 commented on #270
@mcicolella cool, I think that's important to have a cleaner source code.
May I take a look at this too?

[2017-06-30 14:52] mcicolella commented on #270
@P3trur0 of course! Your support is very precious!

[2017-07-06 07:36] mcicolella commented on #233
@P3trur0 what about? I think there are no problems.

[2017-07-06 07:38] mcicolella commented on #260
@P3trur0 what do you think?

[2017-07-06 07:43] P3trur0 commented on #233
@mcicolella I assume it is feasible. Moreover, it'd help to clean up the source code too, since by usage of Lambdas and other tricks it can become more readable (see issue #270).

[2017-07-06 07:44] P3trur0 commented on #260
@mcicolella I'll do that too. Please assign it to me.

[2017-07-08 08:24] #233 closed

[2017-07-15 08:14] #268 closed

[2017-07-17 08:44] mcicolella opened #272 "Harvester plugin not working"
The Harvester plugin doesn't work correctly and the plugin description reports "Starting ..." instead of "Connected to database".
I tested it on Linux Ubuntu 64 bit.

1. You need to add `-XX:+AlwaysLockClassLoader` to VM options to workaround a known issue with OpenJPA and ClassLoader.
Without this the following exception is raised
`414  UsageData  INFO   [main] openjpa.Runtime - Starting OpenJPA

[2017-07-17 14:46] mcicolella commented on #272
Just find another problem. When you add the option `-XX:+AlwaysLockClassLoader` the freedomotic-markeplace plugin throws the following exception
`Cannot create class com.freedomotic.marketplace.FreedomoticMarketPlace

java.lang.LinkageError: loader (instance of  sun/misc/Launcher$ExtClassLoader): attempted  duplicate class definition for name: "sun/security/ec/ECDSASignature$SHA1"
	at java.lang.Cl

[2017-07-18 10:29] mcicolella commented on #166
Fixed in d7b185508781fe07ac8ce6e8843405bb2e49486c

[2017-07-18 10:29] #166 closed

[2017-07-18 15:50] mcicolella opened #273 "openjpa-maven-plugin doesn't run at build time"
Harvester plugin reports the following error
`96 UsageData INFO [main] openjpa.Enhance - You have enabled runtime enhancement, but have not specified the set of persistent classes. OpenJPA must look for metadata for every loaded class, which might increase class load times significantly. `
We use [openjpa-maven-plugin](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-mo

[2017-07-18 15:56] mcicolella commented on #272
#273

[2017-07-18 16:02] mcicolella opened #274 "Disable openjpa dynamic enhancement"
We use openjpa-maven-plugin to enhance entity classes at build time so we should disable this type of enhancement as reported [here](https://openjpa.apache.org/entity-enhancement.html).
This should avoid the following warning
`96 UsageData INFO [main] openjpa.Enhance - You have enabled runtime enhancement, but have not specified the set of persistent classes. OpenJPA must look for metadata for eve

[2017-07-18 16:03] mcicolella commented on #274
#272

[2017-07-18 17:46] P3trur0 opened #275 "Plugin.java throws NPE when not file path is provided for configuration"
[This constructor](https://github.com/freedomotic/freedomotic/blob/97ad4ddff46d8f0f6cf9ac525b9b95e7a85a40d5/framework/freedomotic-core/src/main/java/com/freedomotic/api/Plugin.java#L107) method in `Plugin` class is NPE prone since it throws NPE when no `path` variable is provided.

Indeed, when it enters the `if` branch [here](https://github.com/freedomotic/freedomotic/blob/97ad4ddff46d8f0f6cf9ac5

[2017-07-19 06:52] mcicolella commented on #275
#270

[2017-07-19 14:00] mcicolella opened #277 "Update openjpa dependency in frontend-java"
Frontend-java includes v1.2.2 but harvester plugin and freedomotic-model use 2.3.0

[2017-07-20 07:01] mcicolella commented on #275
Fixed in #278

[2017-07-20 07:01] #275 closed

[2017-08-25 17:09] mcicolella opened #280 "RestAPI exception when try to install a new plugin"
When you try to install a new plugin with the specific [API](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/resources/jersey/MarketplacePluginsResource.java#L103) the following exception is raised

`2017-08-25 08:37:34,537 ERROR [qtp386201215-115] - Error while installing boundle downloaded from "http://www.

[2017-09-29 08:11] mcicolella opened #283 "Adopt a minimal image for Docker"
Currently we are using java:8-jre in our [Dockerfile](https://github.com/freedomotic/freedomotic/tree/master/scripts/docker/amd64) but it is a large image and there could be licensing problems with redistribution.
For example we could adopt https://hub.docker.com/r/anapsix/alpine-java/ or another one.

[2017-09-29 08:35] P3trur0 commented on #280
I  can take this.

[2017-09-29 08:51] GaruGaru commented on #283
I'd like to work at this issue,  i'll make some tests to find out which image between the one that you suggested and open-jdk:8u131-jre-alpine is the best fit

[2017-09-29 09:11] mcicolella commented on #283
Hi @GaruGaru
thanks for your support. Sure you can work on this issue. Also, if you want, you can take a look at the other Docker images (for ARM) and suggest any improvement based on your experience.

[2017-09-29 09:29] mcicolella commented on #280
@P3trur0 Ok. Assigned.

[2017-09-29 13:30] mcicolella opened #284 "Add/update a translation for your language"
Freedomotic supports more than 20 languages using Transifex.
We are searching contributors for new languages or existing translations.

Solution 1 (recommanded in particular for a new language)
1. Join our team on Transifex (https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/)
2. Complete the translation
3. Download the file .properties and submit a PR

Solution 2
1. Work directl

[2017-09-29 14:27] AbhilashG97 commented on #284
Hello @mcicolella ,
I would love to help you with translations in Hindi (hi). May I proceed ?

[2017-09-29 14:43] mcicolella commented on #284
Hi @AbhilashG97 ,
ok for Hindi. Thanks

[2017-09-29 15:32] Haxk20 commented on #284
Hello @mcicolella ,
I would love to help you transtate it to Slovak (sk).
If you agree i will send my PR at 1st October.

[2017-09-29 17:01] mavega998 commented on #284
I will like translate to spanish

[2017-09-29 18:10] GaruGaru commented on #283
I'll surely give the dockerfile for arm a look, and what about adding a docker-compose in order to ease the container setup ?

[2017-09-29 18:25] haroon-sheikh commented on #283
@GaruGaru docker-compose is very helpful for local development, but I would personally advise you not to use that when integrating within CI configuration.

[2017-09-29 18:51] mcicolella commented on #284
@Haxk20 Ok, thanks.

[2017-09-29 18:59] mcicolella commented on #284
@mavega998 Ok, thanks.

[2017-09-29 22:23] hi-hi-ray commented on #284
Hi, i'm finishing translate Pt-Br and i'll review the things that needed to be reviewed . =]

[2017-09-29 22:50] mohamed-habib commented on #284
Hi, I will work on Arabic.

[2017-09-29 22:56] lex111 commented on #284
@mcicolella Hello! I am ready to complete the translation for the Russian.

[2017-09-30 06:18] mcicolella commented on #284
@hi-hi-ray Ok, thanks

[2017-09-30 06:21] mcicolella commented on #284
@mohamed-habib do you want to use Transifex?

[2017-09-30 06:23] mcicolella commented on #284
@lex111 Ok, thanks.

[2017-09-30 08:38] mcicolella commented on #283
@GaruGaru can you explain your idea about docker-compose?

[2017-09-30 10:16] mohamed-habib commented on #284
No, I will just create the .properties files and translate.

[2017-09-30 11:50] the7th commented on #284
Hi, I can help with Malaysian Malay language :)

[2017-09-30 13:16] mcicolella commented on #284
@the7th do you want to use Transifex?

[2017-09-30 13:18] the7th commented on #284
@mcicolella nah, I'll submit a PR :)

[2017-09-30 14:25] mcicolella commented on #270
@P3trur0 For "Define and throw a dedicated exception instead of using a generic one" (RuntimeExceptions) issues reported by Sonarcloud can we use [FreedomoticRuntimeException](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/exceptions/FreedomoticRuntimeException.java) in any case for now?

[2017-09-30 14:38] mcicolella opened #287 "Code gardening of Renderer class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FRenderer.java).

PLEASE BE CAREFUL BEFORE SENDING A PR
- Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team
- Compil

[2017-09-30 15:38] P3trur0 commented on #287
@mcicolella I can take this too.

[2017-09-30 15:39] P3trur0 commented on #270
@mcicolella yes indeed. You can consider `FreedomoticRuntimeException` as the root of the unchecked exceptions of Freedomotic.

[2017-10-01 08:38] mcicolella opened #289 "Code gardening of EnvironmentLogic class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fenvironment%2FEnvironmentLogic.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask ou

[2017-10-01 10:08] mcicolella opened #291 "Code gardening of EnvObject class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-model%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fmodel%2Fobject%2FEnvObject.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our t

[2017-10-01 14:08] mcicolella opened #293 "Code gardening of TriggerCheck class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fcore%2FTriggerCheck.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team
2. C

[2017-10-01 14:33] LeonoraG commented on #284
Hi, @mcicolella  I'd like to help with missing Croatian translations for telegram-bot and fd-polymer-i18next-translate.

[2017-10-01 15:03] mcicolella commented on #284
@LeonoraG Ok, thanks.

[2017-10-01 16:50] P3trur0 commented on #293
@mcicolella I am working on this too.

[2017-10-01 17:33] mcicolella opened #297 "Code gardening of ImageDrawer class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FImageDrawer.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team
2.

[2017-10-01 21:33] tminussi commented on #297
I'd be happy to take this one. May I?

[2017-10-01 21:44] binhonglee commented on #133
Is this issue still open? And is there a reason why #133 was not merged?

[2017-10-01 22:43] tminussi commented on #297
PR submitted: https://github.com/freedomotic/freedomotic/pull/301

Thanks!

[2017-10-02 04:56] lex111 commented on #284
@mcicolella Can you give me access to transifex? The fact is that it shows 20 lines for translation, and I see much less than in the files in which I need to make a translation.

[2017-10-02 06:24] mcicolella commented on #284
@lex111 done

[2017-10-02 06:49] lex111 commented on #284
@mcicolella It is unclear whether to translate `telegram-bot-plugin`?

[2017-10-02 06:57] mcicolella commented on #297
Integrated in 7a8e480e5758afe8df73299828708ada2e72435b

[2017-10-02 06:57] #297 closed

[2017-10-02 07:42] mcicolella commented on #287
Fixed in 0c93fd6f496813a45f43d82025a912a6c7f2b046

[2017-10-02 07:42] #287 closed

[2017-10-02 08:01] mcicolella opened #302 "Code gardening of MessageEvent class and add unit tests"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fevents%2FMessageEvent.java) and add unit tests.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of dou

[2017-10-02 08:04] P3trur0 commented on #302
@mcicolella may I take this, please?

[2017-10-02 08:30] mcicolella commented on #302
@P3trur0 Yes!

[2017-10-02 08:42] mcicolella opened #303 "Code gardening of BetweenTime class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Frules%2FBetweenTime.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team
2.Com

[2017-10-02 09:07] tminussi commented on #303
In progress

[2017-10-02 11:49] P3trur0 opened #305 "Introduce idiomatic Java 8 source code for dates and calendars (i.e.: JodaTime style)"
As discussed [here](https://github.com/freedomotic/freedomotic/pull/304) it could be helpful to refactor all the code references about dates and calendars from `java.util` to the newer `java.time` package.

This could help to improve both code quality and readability.

[2017-10-02 14:21] mcicolella commented on #289
Fixed in 1e19932af2e9188baa0952c49477cd2daae37bf3

[2017-10-02 14:21] #289 closed

[2017-10-02 14:34] #291 closed

[2017-10-02 14:51] mcicolella commented on #303
Fixed in d7265a0c155ac6958ddf89feaf504d63c548a871

[2017-10-02 14:51] #303 closed

[2017-10-02 15:00] mcicolella opened #306 "Code gardening of TcpHelper class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fhelpers%2FTcpHelper.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team
2.Com

[2017-10-02 15:05] P3trur0 commented on #306
Since it is an acronym is it worth to rename the class also to `TCPHelper`?

[2017-10-02 15:44] mcicolella opened #307 "Code gardening of MarketplaceForm class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FMarketPlaceForm.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team

[2017-10-02 16:05] mcicolella opened #308 "Code gardening of User class and add unit tests"
Remove all issues reported by [Sonarcloud]([url](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fsecurity%2FUser.java)) and add unit tests.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of do

[2017-10-02 17:47] P3trur0 commented on #308
I take this too, if you please.

[2017-10-02 18:10] mcicolella commented on #308
Ok.

[2017-10-02 18:16] mcicolella commented on #306
I think so.

[2017-10-02 19:31] mcicolella opened #311 "Code gardening of Log4JAppender class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FLog4jAppender.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask our team
2

[2017-10-02 19:40] mcicolella opened #312 "Code gardening of PluginIsolatedClassloader class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fplugins%2FPluginIsolatedClassloader.java).

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt a

[2017-10-02 20:20] mcicolella opened #314 "Update javadoc of Autodiscovery class"
Javadoc of [Autodiscovery ](https://github.com/freedomotic/freedomotic/blob/9a01f1442828b0f9cfb06ab3a0baf37e7a45e8b1/framework/freedomotic-core/src/main/java/com/freedomotic/core/Autodiscovery.java)class.

1. Please follow the official style guide conventions http://www.oracle.com/technetwork/java/javase/documentation/index-137868.html
2. Review texts and fix typos and/or grammatical errors
3. If

[2017-10-02 21:01] delbertlegg commented on #314
@mcicolella I can take this on

[2017-10-03 00:09] delbertlegg commented on #312
@mcicolella I'll take this on

[2017-10-03 00:24] cunhazera commented on #305
@P3trur0 was it solved?

[2017-10-03 06:18] P3trur0 commented on #305
@cunhazera I think there are a bunch of other classes using `java.util.Date` here around. Ask @mcicolella If you can pick one of those: this can surely help solving this issue!

[2017-10-03 06:40] P3trur0 commented on #133
@mcicolella what do you think? IMHO #229 Java code seems good, although I have no clue if the added Maven Plugin is suitable for our needs.

@binhonglee are you familiar with that?

[2017-10-03 07:28] angelbarrera92 commented on #283
Take a look to the PR9 #318
:)

[2017-10-03 10:21] mcicolella commented on #283
@angelbarrera92 thanks. @GaruGaru proposed an alternative image. Also have you tried it?

[2017-10-03 10:32] mcicolella opened #319 "Code gardening and Javadoc update of PeriodicSave class"
Remove all issues reported by [Sonarcloud ](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Futil%2FPeriodicSave.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variable

[2017-10-03 11:18] mcicolella commented on #311
Fixed in 7a4c1ccf5da31e48965d5989af0a2d8d8a29dff1

[2017-10-03 11:18] #311 closed

[2017-10-03 12:03] angelbarrera92 commented on #283
Ive tried the proposed PR and it works. It is the same image but with different tags. Whith my base image you can fetch all new jre8 revisions instead of stay fixed in version.

[2017-10-03 12:05] mcicolella commented on #302
Fixed in aeef1b2a4294fc0be62d83c4aeac0ad3845ab88f and 66c6d7e9484ccb77b9b948f31e466906e2680cef

[2017-10-03 12:05] #302 closed

[2017-10-03 12:20] mcicolella commented on #308
Fixed in 2b2239cf586bf8e1a02be8563db7cc450efd8dc5 and d86c3a10838221b087f8847dcf7d5bef11000875

[2017-10-03 12:20] #308 closed

[2017-10-03 15:02] mcicolella commented on #314
Fixed in 051611f2a233e7aebd681bd49842da2d65f44b14

[2017-10-03 15:02] #314 closed

[2017-10-03 15:10] srikanthnakka commented on #319
I would like to work on this issue.

[2017-10-03 15:28] mcicolella commented on #319
Ok.

[2017-10-03 16:55] delbertlegg commented on #306
@mcicolella @P3trur0 I can take this on

[2017-10-03 17:18] P3trur0 commented on #306
:+1:

[2017-10-03 19:52] bkruczyk commented on #284
@mcicolella I can help with filling in polish translation

[2017-10-03 21:03] Nina029 commented on #284
I would like to add german

[2017-10-04 05:11] angelbarrera92 commented on #283
Is there any problem? Do you need anithing else?

[2017-10-04 08:39] mcicolella commented on #284
@bkruczyk Ok.

[2017-10-04 08:39] mcicolella commented on #284
@Nina029 Ok.

[2017-10-04 08:47] mcicolella commented on #312
Fixed in d54f94cbff1c4241011fc12ff2230f6dd26af541

[2017-10-04 08:47] #312 closed

[2017-10-04 08:51] srikanthnakka commented on #319
PR is completed
https://github.com/freedomotic/freedomotic/pull/320

[2017-10-04 08:53] srikanthnakka commented on #307
@mcicolella I am working on this.

[2017-10-04 08:59] mcicolella commented on #306
Fixed in fea39b3f9c2c9b8143812ab65580c33abe356997

[2017-10-04 08:59] #306 closed

[2017-10-04 09:17] mcicolella opened #323 "Code gardening and Javadoc update of MarketPlacePlugin2 class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-drupal-marketplace%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fmarketplace%2Futil%2FMarketPlacePlugin2.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables

[2017-10-04 09:21] allienna commented on #323
I take it

[2017-10-04 14:35] #293 closed

[2017-10-04 14:45] mcicolella opened #324 "Code gardening and Javadoc update of AbstractConsumer class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fapi%2FAbstractConsumer.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In c

[2017-10-04 14:47] mcicolella commented on #323
@allienna Ok.

[2017-10-04 14:52] yirrilo commented on #324
Hello,

I'll do it if you're OK

Yann

[2017-10-04 15:02] mcicolella opened #325 "Code gardening and Javadoc update of UserRealm class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fsecurity%2FUserRealm.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In cas

[2017-10-04 15:20] allienna commented on #325
I take it

[2017-10-04 15:21] allienna commented on #323
Can you assign it to me

[2017-10-04 15:23] allienna opened #326 "Code formatter"
I think that's a good idea to use Google style as formatter for java code

https://github.com/google/styleguide/blob/gh-pages/intellij-java-google-style.xml

[2017-10-04 15:37] P3trur0 commented on #326
@allienna thank you for the proposal! Let's consider that. Moreover it could be useful to introduce directly in the CI also a static analysis tool (via Maven plugin, for example) to assess the proper code formatting during the build itself.

For example [Qulice](http://www.qulice.com/) does a great job in this field.

[2017-10-04 15:44] allienna commented on #323
In fact, I don't know what's this file do. So, I let it for any other developer.

[2017-10-04 16:28] P3trur0 commented on #325
@mcicolella I take this.

[2017-10-04 16:31] mcicolella commented on #324
@yirrilo ok

[2017-10-05 15:57] mcicolella opened #333 "Code gardening and Javadoc update of SerialHelper class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fhelpers%2FSerialHelper.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In c

[2017-10-05 16:06] mcicolella opened #334 "Code gardening and Javadoc update of AutomationEditor class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2Fautomationeditor%2FAutomationsEditor.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they

[2017-10-05 16:13] mcicolella opened #335 "Code gardening and Javadoc update of PluginConfigure class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FPluginConfigure.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In

[2017-10-05 17:06] ohadleshno commented on #335
i will be more than happy to help

[2017-10-05 19:11] ohadleshno commented on #334
did a pr on this

[2017-10-05 21:16] mavega998 commented on #284
Hi, the Spanish translation is complete. If I can help, you don't dudes in tell me.

[2017-10-05 22:10] yirrilo commented on #333
Hi,
I'll deal with it if it's OK for you.
Yann

[2017-10-06 08:09] mcicolella commented on #335
Fixed in 317d670d28eb852e624e6b9b189a7cd81daaf4db

[2017-10-06 08:09] #335 closed

[2017-10-06 08:44] mcicolella commented on #333
@yirrilo ok.

[2017-10-06 08:47] mcicolella commented on #325
Fixed in 3afc5f547c40b511681c971acc6dd3df27d9cf6e

[2017-10-06 08:47] #325 closed

[2017-10-06 09:01] #324 closed

[2017-10-06 09:20] mcicolella commented on #334
Fixed in 70fd1b0026a25f293cef73d669da6ee91a765dd4

[2017-10-06 09:20] #334 closed

[2017-10-06 11:59] mcicolella opened #341 "Code gardening and Javadoc update of ResourcesManager class"
Remove all issues reported by [Sonarcloud ](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fcore%2FResourcesManager.java)and update Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of

[2017-10-06 12:09] mcicolella opened #342 "Code gardening and Javadoc update of HttpHelper class"
Remove all issues reported by [Sonarcloud ](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fhelpers%2FHttpHelper.java)and update Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of dou

[2017-10-07 13:24] mcicolella opened #344 "Code gardening and Javadoc update of WorkerThread class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Asimulation%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fplugins%2Fdevices%2Fsimulation%2Ffromfile%2FWorkerThread.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false'

[2017-10-07 13:36] mcicolella opened #345 "Code gardening and Javadoc update of ApplicationServer class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Awebserver%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fwebserver%2FApplicationServer.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variabl

[2017-10-07 14:03] mcicolella opened #346 "Code gardening and Javadoc update of Restapiv3/utils classes"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Arestapi-v3%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fplugins%2Fdevices%2Frestapiv3%2Futils) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused var

[2017-10-07 14:48] abollaert opened #348 "InterruptedExceptions are not handled properly"
Please refer to [Dealing with InterruptedException](https://www.ibm.com/developerworks/library/j-jtp05236/) from IBM DeveloperWorks.

The main issue is that when catching an InterruptedException, the interrupt status flag of the interrupted thread has been cleared.

FTA:

In essence, the way you would typically implement a long-running task, is doing something like:

`while (!Thread.currentThread.

[2017-10-07 14:59] mcicolella opened #349 "Fix some compilation warnings reported by frontend-java plugin"
During the compilation of  frontend-java plugin some warnings are reported

[code]

[2017-10-07 18:02] mardibiase commented on #342
Hi @mcicolella, I am working a bit on this issue.
What would you like to improve in HttpHelper?
I am just fixing some javadoc and addressing the warning at [line 164](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/helpers/HttpHelper.java#L164).

[2017-10-08 09:44] mcicolella commented on #342
hi @mardibiase for now only fixing warnings/issues and javadoc. Thanks

[2017-10-08 10:04] vpondala commented on #349
Let me take a look at this one.

[2017-10-08 10:30] mcicolella commented on #349
@vpondala ok.

[2017-10-08 16:10] ohadleshno commented on #344
im on this one

[2017-10-08 17:19] ohadleshno commented on #345
did pr

[2017-10-09 07:02] mcicolella commented on #345
Fixed in 38a05a2af3931cb082b378d434038d90a5b1b9f7

[2017-10-09 07:02] #345 closed

[2017-10-09 08:00] mcicolella commented on #344
Fixed in #351

[2017-10-09 08:00] #344 closed

[2017-10-09 14:24] mcicolella opened #353 "MQTT-broker plugin raises an exception"
When [MQTT-broker](https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/mqtt-broker) plugin is running and you click on an object the following exception is raised

`
Exception in thread "freedomotic-protocol-executor" java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.introspect.AnnotatedMember.getType()Lcom/fasterxml/jackson/databind/JavaType;
	at com.fasterxml.jackson

[2017-10-09 14:43] mcicolella opened #354 "Renderer class throws an exception at startup"
At Freedomotic startup the following exception is raised by [Renderer.java](https://github.com/freedomotic/freedomotic/blob/0c93fd6f496813a45f43d82025a912a6c7f2b046/plugins/devices/frontend-java/src/main/java/com/freedomotic/jfrontend/Renderer.java#L580) class

`
2017-10-09 16:32:52,342 ERROR [AWT-EventQueue-0] - Error while store transform context!
`
It seems related to 0c93fd6f496813a45f43d82025

[2017-10-09 15:24] mcicolella opened #355 "MainWindow class throws a NPE exception"
The following exception is raised at startup by [MainWindow.java](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/frontend-java/src/main/java/com/freedomotic/jfrontend/MainWindow.java) class

`
2017-10-09 17:14:00,322 ERROR [AWT-EventQueue-0] - Error setting Map title java.lang.NullPointerException
	at com.freedomotic.jfrontend.MainWindow.setMapTitle(MainWindow.java:453)
	at

[2017-10-09 20:36] sebast26 commented on #341
I can take this one

[2017-10-10 15:13] abollaert commented on #353
It's probable that the code gets compiled against a different minor than it gets at runtime (assembly). I could have a look at it if you want.

[2017-10-10 15:31] mcicolella commented on #353
@abollaert sure, thanks.

[2017-10-10 16:00] mcicolella commented on #283
Thanks to @angelbarrera92 we have a new image of 213 MB. This could be the official one.
https://hub.docker.com/r/freedomotic/freedomotic/tags/

[2017-10-11 06:33] mcicolella opened #357 "Code gardening and Javadoc update of fredomotic/model/object classes"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Afreedomotic-model%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fmodel%2Fobject) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they

[2017-10-11 08:04] mcicolella commented on #326
What about opening a dedicated issue for Qulice?

[2017-10-11 08:09] mcicolella commented on #283
This #356 PR further reduce the image size. Now it is 99MB.

[2017-10-11 08:15] mcicolella opened #358 "Code gardening and Javadoc update of Freedomotic/i18N classes"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fi18n) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really

[2017-10-11 08:20] P3trur0 commented on #326
@mcicolella why not! Maybe it is good to define a good configuration for it since it is quite _aggressive_ by default :)

[2017-10-11 09:24] mcicolella commented on #326
@P3trur0 can you open it?

[2017-10-11 09:30] mcicolella commented on #283
@thobalose  what about adding a HEALTHCHECK?

[2017-10-11 10:33] P3trur0 opened #359 "Introduce a Static Analysis tool"
In order to make the code cleaner and compliant with a specific code style it could be useful to introduce a tool performing static analysis.

So far, we're considering to introduce [Qulice](http://www.qulice.com/) that is a Maven Plugin integrating a series of third party tool doing the job.

However, since its own behavior is quite restrictive on the source code compliance it is adviced to try i

[2017-10-11 10:34] P3trur0 commented on #326
@mcicolella #359

[2017-10-11 10:55] thobalose commented on #283
Hi @mcicolella ,

You mean having something like:

[code]

[code]
in the `Dockerfile`.

[2017-10-11 11:35] vpondala commented on #349
Ran maven compile with -Xlint options and here is the output:
[mvn-lint.txt](https://github.com/freedomotic/freedomotic/files/1375396/mvn-lint.txt)

[2017-10-11 20:34] sebast26 commented on #355
I looked into this and I see two ways of handling this issue:

1. remove IMHO unnecessary invocations of ```setMapTitle``` in ```setWindowedMode()``` and ```initializeRenderer()``` methods OR
2. add checking if ```drawer != null``` in ```setMapTitle``` method

Of course I could be mistaken and in some cases 1. approach could be wrong (for some reason setting map title with empty or notinited_inite

[2017-10-11 23:47] amenak77 commented on #126
Maybe the nicest way to notify the user about Freedomotic startup failure is an alert icon in the traybar. It is a quite universal GUI element whatever OS you are using. If you can add a baloon with critical last ActiveMQ warnings too, perhaps it would be perfect ;)

[2017-10-12 11:42] mcicolella commented on #355
@P3trur0 what do you think?

[2017-10-12 13:45] #341 closed

[2017-10-12 13:58] P3trur0 commented on #355
@sebast26 @mcicolella maybe I'd go with option 2.

[2017-10-12 15:30] mcicolella commented on #359
@abollaert what do you think?

[2017-10-12 21:07] sebast26 commented on #355
@P3trur0 @mcicolella Yeah, it's the safest one. I've added a pull request.

[2017-10-13 08:13] #355 closed

[2017-10-13 09:12] #346 closed

[2017-10-13 11:42] krns commented on #284
German translations in the making or should I do it this weekend?

[2017-10-13 14:42] mcicolella opened #367 "Code gardening and Javadoc update of PluginConfigure class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FPluginConfigure.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In

[2017-10-13 18:00] bezmax commented on #367
Hello @mcicolella . I'd like to work on this issue and also have a question.

There seem to be a lot of problems in Sonar related to Swing components being serializable. AFAIK this can be used for thin clients or for restoring UI from persisted states. I do not think that anything like that will ever be needed by the project or is planned currently, that is - swing components will never be seriali

[2017-10-13 18:40] pushkyn commented on #358
I can take this one

[2017-10-13 20:27] bezmax commented on #354
Hello @mcicolella . I will investigate this issue.

[2017-10-13 21:10] bezmax commented on #354
The problem was a call to `restoreTransformContext` from within the routine that works with a separate `Graphics` of a BufferedImage and does not have any transform context saved. Given that the buffered image will not need any more changes (which I tried to emphasize by extracting that to separate method) - there is no need to restore it's original transformation, so I removed it.

[2017-10-13 21:41] bezmax commented on #357
I will take this.

[2017-10-13 22:52] balachandarsv commented on #284
Shall i take it up for tamil?

[2017-10-14 13:58] #354 closed

[2017-10-14 14:21] mcicolella commented on #367
@bezmax thanks for your remarks.
Maybe it'd better to discuss about the serialization of Swing components (using "transient" keyword or "@SuppressWarnings") in a specific issue. So we can adopt the same approach in every file.
For now I'm integrating this PR. Thanks

[2017-10-14 14:23] #367 closed

[2017-10-14 14:32] mcicolella commented on #284
@krns you can work on German translations if you want.

[2017-10-14 14:33] mcicolella commented on #284
@balachandarsv ok

[2017-10-14 14:47] mcicolella opened #371 "Code gardening and Javadoc update of PluginJList class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Afrontend-java%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fjfrontend%2FPluginJList.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables

[2017-10-14 15:42] mcicolella opened #372 "Add support for JSON Web Token"
In order to create a web client based on Vue.js we need to enable JWT (see https://github.com/freedomotic/fd-vue-webapp/issues/7).
Freedomotic's APIs are served by [RestAPIv3](https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/restapi-v3) plugin and the [authentication](https://github.com/freedomotic/freedomotic/tree/master/framework/freedomotic-core/src/main/java/com/freedomot

[2017-10-14 18:59] ayushkalani commented on #372
I'm interested to do this.

[2017-10-14 19:04] ayushkalani commented on #372
I have used jjwt library for generating and validating jwt tokens please inform which file and where to make those changes, we can write a new jwt service.

[2017-10-14 22:37] gubbaraviteja commented on #371
@mcicolella I would like to work on this. I will ask here if I've any questions.

[2017-10-15 00:13] gubbaraviteja commented on #371
@mcicolella
I've followed the steps in README file and encountered an error while compiling the code.
From googling, I came to know that we need to generate certificate and add it to JVM. But the question is, if everyone need to do this step, shouldn't we add this in README file?
Below is the snapshot of error log.
![image](https://user-images.githubusercontent.com/9277498/31580372-f829cac6-b14d-1

[2017-10-15 07:54] gubbaraviteja commented on #371
For now, I've solved it by replacing the outputTemplate value to take the template from src/main/resources instead of https://raw.github.com.

![image](https://user-images.githubusercontent.com/9277498/31582843-c9476f60-b18e-11e7-8b17-d2ad224bbcb7.png)

But please let me know how to get rid of this issue in correct approach.

[2017-10-15 14:26] #342 closed

[2017-10-15 14:37] mcicolella commented on #371
@gubbaraviteja it's the first time I see this issue. Never required a certificate. On NetBeans and Eclipse is all ok and the same for our CI Teamcity and Codeship.

[2017-10-15 15:21] #319 closed

[2017-10-15 16:07] #358 closed

[2017-10-15 20:25] joergsesterhenn commented on #359
I'd like to have a go at this one. I would do this if thats alright with you:
* Introduce Qulice in the build, triggered by a profile "qulice" that needs to be actively called like 'mvn clean install -Pqulice
Once you decide you are happy with the results you can turn on the profile by default.

Would that do @P3trur0 , @mcicolella ?

[2017-10-15 20:47] bestmazzo commented on #372
@ayushkalani Thank you for your support!
Changes will surely involve [RestAPI3](https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/restapi-v3) plugin (which relies on `[Apache Jersey](https://jersey.github.io/)` and [Atmosphere](https://github.com/Atmosphere/atmosphere) frameworks)

[2017-10-15 21:47] gubbaraviteja commented on #371
@mcicolella
Finally I realized that I've not connected to VPN which will allow me to connect to git url used in swagger-maven-plugin. Now, after connecting to VPN, I was able to build it with out any changes to the code.

I've committed the changes and created a pull-request
https://github.com/freedomotic/freedomotic/pull/377

[2017-10-15 22:47] joergsesterhenn commented on #359
Qulice stops the build after the first module:
`Failed to execute goal com.qulice:qulice-maven-plugin:0.17:check (default) on project freedomotic-model: Failure: There are 2352 violations`

Since the premise of qulice seems to be "take our policy and stick to it" I don't think it makes sense to use this unless you really want to stick to the defaults of qulice.

I'd suggest to just rely on sonarcl

[2017-10-16 09:00] mcicolella commented on #357
@bezmax Ok.

[2017-10-16 09:50] P3trur0 commented on #359
@joergsesterhenn thank you for your effort in evaluating Qulice. As I said it is quite restrictive in its usage.

@mcicolella what do you think? By adding Qulice it means to rewrite a lot of source code to make it working properly (for example by renaming either method or variable names). Alternatively we could consider any of the tools wrapped in qulice, for example PMD or FindBugs and see if a s

[2017-10-16 09:52] abollaert commented on #359
Can't it be configured with excludes/includes to implement this piecemeal?

Op 16 okt. 2017 11:50 a.m. schreef "Peter Pan" <notifications@github.com>:

[2017-10-16 10:57] P3trur0 commented on #359
@abollaert AFAIK, qulice does not offer too much configuration. The only way to disable checks is to define Java annotations (one for each type of static check) on each part of the source code you'd like to avoid to check.

[2017-10-16 11:04] abollaert commented on #359
According to http://www.qulice.com/qulice-maven-plugin/check-mojo.html you
have some leeway but it's indeed pretty limited.

Op 16 okt. 2017 12:57 p.m. schreef "Peter Pan" <notifications@github.com>:

[2017-10-16 11:06] abollaert commented on #359
Also http://www.qulice.com/qulice-maven-plugin/example-exclude.html

Op 16 okt. 2017 1:04 p.m. schreef "Alexander Bollaert" <
alexander.bollaert@gmail.com>:

[2017-10-16 11:24] abollaert commented on #359
I suppose you could start by trying to exclude *everything*, enable a particular check on some select part of the code, get it fixed, and iterate on that. That said, even if that works, it'll be a bit of an ugly process until all issues are fixed. But I guess that would be better than nothing?

[2017-10-16 12:22] abollaert commented on #359
Refer to PR #381, disabled all checks using excludes. I also had to skip the plugin entirely in the device archetype, because of the "#set" stuff in HelloWorld.java

[2017-10-16 12:30] abollaert commented on #359
Also note: this PR configures the excludes globally, but you can override this in submodules (like the archetype for example). So if you would want to go start fixing the issues reported, it would probably be easiest just to pick a module, override the parent configuration there, and start hacking on it.

[2017-10-16 13:49] mcicolella commented on #283
I'm closing this issue. Thanks to all for your support.

[2017-10-16 13:49] #283 closed

[2017-10-16 18:53] joergsesterhenn commented on #359
Why would you bother with this? you can use sonarcloud + sonarlint in eclipse and just be done with static analysis. It is so much better to manage than any maven plugin could ever be and integrates well in the delivery pipeline.

[2017-10-16 19:05] abollaert commented on #359
The upside of this is that it enforces a particular set of practices. That
and that it does not rely on an external service. That said, I think you're
right in that it's probably not worry the hassle as SonarCloud is a really
good alternative, and that should be more than sufficient for most projects.

Op 16 okt. 2017 8:54 p.m. schreef "joergsesterhenn" <
notifications@github.com>:

[2017-10-16 19:16] joergsesterhenn commented on #359
With sonarlint you have faster feedback than any maven plugin can offer and more help in fixing issues. Have you tried it? http://www.sonarlint.org/ It is freely available for Eclipse, IntelliJ and VisualStudio (Code). And you can use it connected or offline.
I'd also recommend to implement a deployment pipeline in Teamcity that triggers sonarcloud scans after successful builds.

[2017-10-16 20:48] mcicolella commented on #372
@P3trur0 @abollaert @bezmax @jasper-vandemalle what about?

[2017-10-17 14:02] mcicolella opened #383 "Code gardening and Javadoc update of persistence folder"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fpersistence) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are

[2017-10-17 17:05] yirrilo commented on #383
Hello,

I can handle this if you're ok.

Yann

[2017-10-17 18:49] ayushkalani commented on #372
Should I start working on it ?

[2017-10-17 20:06] mcicolella commented on #383
Ok.

[2017-10-17 20:06] mcicolella commented on #372
I think so.

[2017-10-18 06:34] mcicolella commented on #359
No, I haven't tried it. No available for NetBeans.

[2017-10-18 07:04] abollaert commented on #359
You don't need a pipeline for that? You could just add the
maven-sonar-plugin in an integration build profile, this will keep it
independent from TeamCity (you could for example also use Travis instead).
I second SonarLint btw, works pretty well in Eclipse (some of my colleagues
use it in IntelliJ too, no complaints).

On Mon, Oct 16, 2017 at 9:17 PM, joergsesterhenn <notifications@github.com>
wro

[2017-10-18 09:19] #371 closed

[2017-10-18 13:48] mcicolella opened #386 "Code gardening and Javadoc update of BetweenTime class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Frules%2FBetweenTime.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case

[2017-10-18 15:23] #357 closed

[2017-10-18 15:39] mcicolella opened #387 "Code gardening and Javadoc update of Freedomotic class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fapp%2FFreedomotic.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case o

[2017-10-18 19:28] joergsesterhenn commented on #359
@mcicolella,  netbeans? maybe you should introduce a new tool right there 🤓. Just kidding, to each his own demise 😉
The maven-sonar-plugin does not give you detailed feedback in the IDE like sonarlint.
There is however a netbeans plugin for sonarqube ( http://plugins.netbeans.org/plugin/51532/radar-netbeans ). Maybe give that a try. Sonarqube in my opinion is way better in helping you to improve y

[2017-10-18 20:04] h93xV2 commented on #387
I would like to work on this

[2017-10-18 21:37] potapczuk commented on #386
PR sended

[2017-10-18 22:42] sixdouglas commented on #284
Hi there was some missing translation for a keys in French. I've created a PR for them:
https://github.com/freedomotic/freedomotic/pull/389
Hope it helps

[2017-10-19 00:43] Philip-Nicolas commented on #284
I can work on French translation.

[2017-10-19 01:43] nmenego commented on #284
Hi will work on the Philippine and Japanese translations.

[2017-10-19 13:42] #386 closed

[2017-10-19 14:24] #323 closed

[2017-10-19 14:37] mcicolella opened #394 "Code gardening and Javadoc update of PowerMeter class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Abase-things%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fthings%2Fimpl%2FPowerMeter.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In ca

[2017-10-19 18:07] potapczuk commented on #394
I will take a look

[2017-10-20 16:19] samcarecho commented on #284
Is someone translating to Portuguese?

[2017-10-21 06:26] mcicolella commented on #372
@ayushkalani are you working on this?

[2017-10-21 07:12] ayushkalani commented on #372
Weekend is here, I'll complete it this weekend.

[2017-10-23 11:08] Larry0ua commented on #353
Could anyone explain in short how to reproduce the issue? I've tried locally compiled version of Freedomotic with MQTT-broker plugin installed from marketplace, and did not see any exceptions while clicking on the lamps on the screen. Could the exception be caused by incompatible versions of plugin and core?

[2017-10-23 13:57] #333 closed

[2017-10-23 14:08] #383 closed

[2017-10-23 14:19] #348 closed

[2017-10-23 14:47] mcicolella opened #400 "Code gardening and Javadoc update of GraphEdge class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fenvironment%2FGraphEdge.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In

[2017-10-23 16:10] Larry0ua commented on #349
Guys, do you still use the JFormDesigner for swing forms generation? There's some autogenerated code that cause warnings, and I'm not sure if it's ok to modify it directly.

[2017-10-23 19:28] sebast26 commented on #400
Hi @mcicolella, If this is not yet taken I would like to start working on this.

[2017-10-23 19:44] mcicolella commented on #400
@sebast26 ok.

[2017-10-23 19:47] mcicolella commented on #349
@Larry0ua which warnings exactly?

[2017-10-23 20:19] mcicolella commented on #353
@Larry0ua have you tried with Windows? I found this problem only with Linux 64bit.

[2017-10-24 09:16] Larry0ua commented on #353
Tried it on Windows only... So I believe my reproducing steps are correct?
Actually that's quite weird to have this issue on Linux, but not on Windows as it's a problem of class packaging and library versions incompatibility and not an environment specific thing.

[2017-10-24 09:20] Larry0ua commented on #349
For example, ObjectEditor class has a field ```private javax.swing.JComboBox txtProtocol;``` (line ~917), and it can be specialized with ```private javax.swing.JComboBox<String> txtProtocol``` to eliminate some of unchecked calls warnings. However, it belongs to an autogenerated section that was previously created by JFormDesigner several years ago, and could be overwritten in the future if anyone

[2017-10-24 09:35] mcicolella opened #401 "Reduce size of ARM Docker images"
We have two Docker [images](https://github.com/freedomotic/freedomotic/tree/master/scripts/docker) for ARM32 and ARM64.
We are trying to reduce their size as possible (https://hub.docker.com/r/freedomotic/freedomotic/tags/).

[2017-10-24 10:49] amenak77 opened #402 "Convert and upgrade Freedomotic Polymer 0.5 web app to 2.0"
We aim to create a new webapp for Freedomotic framework; time ago we developed a first prototype in Polymer. You can try it by downloading Freedomotic and pointing your browser to http://localhost:8090. A brief video is available on https://www.youtube.com/watch?v=0pN-8mbNuQk
And the source code is hosted on https://github.com/freedomotic/fd-polymer-webapp Mark 1 web app was made with Polymer ver

[2017-10-24 20:33] mcicolella commented on #353
I have other problems only with Linux. For example #272 .

[2017-10-24 21:56] sebast26 commented on #400
@mcicolella In GraphEdge class there are JavaDoc written in Italian and one variable name (visitato). Should I translate it to English (using some translator - I do not speak Italian)?

[2017-10-25 06:42] mcicolella commented on #400
@sebast26 Leave it in Italian for now. Thanks

[2017-10-25 06:43] mcicolella commented on #401
@thobalose what about?

[2017-10-25 07:06] thobalose commented on #401
@mcicolella I see that:

- The parent [image](https://hub.docker.com/r/maidbot/resin-raspberrypi3-qemu/tags/) for `arm64` is `181MB` and your build being `546 MB`

- The parent [image](https://hub.docker.com/r/resin/armv7hf-debian-qemu/tags//) for `armhf` is `37MB` and your build being `415 MB`

Will have a look.

[2017-10-27 07:16] yirrilo commented on #387
Hi @h93xV2, hi @mcicolella,
If the work did not begin, I can handle this issue tomorrow. Let me know !
Best regards
Yann

[2017-10-27 08:53] mcicolella commented on #387
@yirrilo I don't know if @h93xV2 is working on this. No update.

[2017-10-27 17:18] h93xV2 commented on #387
@yirrilo Feel free to take over on this. I don't have time to get this done

[2017-10-28 06:48] mcicolella opened #407 "Code gardening and Javadoc update of Trigger class"
Remove all issues reported by [Sonarcloud](https://sonarcloud.io/code?id=com.freedomotic%3Afreedomotic&selected=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Freactions%2FTrigger.java) and update/complete Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1.Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables

[2017-10-28 07:45] amenak77 commented on #353
It could be windows has a more "permissive" JVM

[2017-10-28 07:50] amenak77 commented on #353
Don't know if this could be a better or worse factor, but linux probably represents a more stable test platform for java projects. Unfortunately I'm not very familiar with it, too

[2017-10-29 13:31] mcicolella opened #408 "Code gardening and Javadoc update of Protocol class"
Remove all issues reported by [Sonarcloud ](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Fapi%2FProtocol.java)and update Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of doubt ask

[2017-10-29 14:33] mcicolella opened #409 "Code gardening and Javadoc update of Reaction class"
Remove all issues reported by [Sonarcloud ](https://sonarcloud.io/dashboard?id=com.freedomotic%3Afreedomotic-core%3Asrc%2Fmain%2Fjava%2Fcom%2Ffreedomotic%2Freactions%2FReaction.java)and update Javadoc.

PLEASE BE CAREFUL BEFORE SENDING A PR

1. Double check every issue with great attention. Sonarcloud sometimes reports 'false' issues (e.g. unused variables but they are really used). In case of dou

[2017-10-30 10:07] mcicolella opened #411 "Update Atmosphere library to the last version"
For our [RestAPI](https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/restapi-v3) plugin we are using [Atmosphere](https://github.com/Atmosphere/atmosphere) framework.
Currently it uses 2.2.5 version but the last available is 2.4.14.
We should update the code.

[2017-10-30 10:35] pgrosslicht commented on #411
I can do that.

[2017-10-30 10:55] mcicolella commented on #372
@ayushkalani any news?

[2017-10-31 14:49] #400 closed

[2017-11-01 14:37] #284 closed

[2017-11-01 14:41] mcicolella commented on #411
@pgrosslicht are you working on this?

[2017-11-02 10:45] mcicolella commented on #359
We decided to continue with Sonarqube.
Thanks to all.

[2017-11-02 10:45] #359 closed

[2017-11-02 16:54] #387 closed

[2017-11-02 16:59] mcicolella commented on #326
@P3trur0 can we close this?

[2017-11-02 17:59] P3trur0 commented on #326
@mcicolella according to me it is useful to have a reminder about code style/formatting. However we already have #270 for this.

[2017-11-03 07:36] #394 closed

[2017-11-04 14:42] #307 closed

[2017-11-05 11:07] mareckmareck commented on #407
Proposed fix: https://github.com/freedomotic/freedomotic/pull/414.

[2017-11-07 07:15] mcicolella commented on #401
@thobalose any news?

[2017-11-07 07:49] mcicolella commented on #407
#414 merged.

[2017-11-07 07:49] #407 closed

[2017-11-08 07:16] thobalose commented on #401
Hi @mcicolella ,

Had a lot on my plate the past week and haven't had time to look at this.
I will, however, give feedback by next week.

[2017-11-16 09:54] mcicolella commented on #372
@ayushkalani are you still on this?

[2017-11-20 14:29] #402 closed

[2017-11-20 14:35] #208 closed

[2017-12-01 10:33] mcicolella commented on #401
@thobalose any news?

[2017-12-01 10:36] mcicolella opened #417 "Twilight plugin: move from JodaTime to Java 8 time and calendar"
[Twilight](https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/twilight) plugin uses JodaTime to manage date and calendar. We'd move to to the newer java.time package.

[2017-12-01 10:37] mcicolella commented on #417
#305

[2017-12-05 14:37] mcicolella opened #419 "Autodiscovering: add a new thing to a fixed position"
When a new thing is added to the map automatically by autodiscovering, its position is set randomly.
Often it's outside the visible area so it's difficult to view it.
It'd be better to locate it to a fixed place, e.g. top left corner.

[2017-12-05 14:56] #419 closed

[2017-12-07 08:35] thobalose commented on #401
Hi @mcicolella I am looking at https://docs.docker.com/engine/userguide/eng-image/multistage-build/ to do this.

Will keep you posted.

[2018-01-08 09:18] mcicolella opened #425 "Add "enabled" property to Reactions/Automations"
Now every reaction/automation is always executed when its trigger fires.
In order to disable you need to remove it.
It should be better to have an option "enabled" to activate/deactivate it.
This feature requires some changes to the code to be explained in depth.

[2018-01-22 15:28] mcicolella commented on #401
@thobalose are you still on this?

[2018-02-09 23:06] thobalose commented on #401
Hi @mcicolella ,

Have you had a look into building from https://hub.docker.com/r/arm64v8/openjdk/tags/. I am having a couple of build errors on my side. I understand they are related to https://github.com/moby/moby/issues/35447 and that's why you are pulling from https://hub.docker.com/r/maidbot/resin-raspberrypi3-qemu/tags/.

Sorry but I am having a hard time working on this.

[2018-03-01 08:37] mcicolella opened #427 "Check compatibility with Java 9"
Freedomotic is running on JDK 8. We should check if it's compliant with 9 version.

[2018-05-08 17:53] dedovich-s commented on #141
I am going to fix this issue

[2018-05-09 16:10] mcicolella opened #429 "RestAPI plugin: pluginChange endpoint not working"
It doesn't show any message.

[2018-05-09 16:47] #429 closed

[2018-05-13 17:32] mcicolella opened #430 "RestAPI: implement endpoint for removing a plugin"

[2018-05-16 16:22] mcicolella opened #431 "RestAPI: add endpoint to retrieve the complete list of all resources"
Now it's possible to retrieve only a single resource given its name (see [here](https://github.com/freedomotic/freedomotic/blob/7522617f06376e140059f7a7f8a4512192c72d86/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/resources/jersey/ImageResource.java#L71)).
We'd have another endpoint ("/resources") to get all the available resources.

[2018-05-27 13:36] mcicolella opened #432 "RestAPI: add websocket for commands"

[2018-05-27 13:41] mcicolella opened #433 "RestAPI: add a websocket for triggers"

[2018-05-27 13:44] mcicolella opened #434 "RestAPI: add a websocket for reactions"

[2018-07-06 08:03] mcicolella opened #436 "RestAPI plugin: missing endpoint to remove a plugin"
We need an endpoint to remove a plugin.
It could be associated to [this](https://github.com/freedomotic/freedomotic/blob/1163bafc9e7c1c23bcc0c017064a8124f30019a3/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/resources/jersey/PluginResource.java#L162).

The correct procedure to remove a plugin is already implemented in JFrontend. See [here](https://github.com/fr

[2018-07-19 03:32] h93xV2 commented on #408
I am currently working on a patch for this issue.

[2018-07-19 07:39] h93xV2 opened #439 "Correct MainWindow class issues"
Codacy is reporting 42 issues with the MainWindow class. [See here](https://app.codacy.com/app/mcicolella/freedomotic/files?bid=4368245)

[2018-07-19 07:40] h93xV2 commented on #439
I would like to work on this.

[2018-07-20 13:18] mcicolella commented on #436
Duplicate of #430

[2018-07-20 13:18] #436 closed

[2018-07-20 13:29] mcicolella commented on #439
@h93xV2 please consider that many issues are related to auto-generated code by IDE so they can be ignored.

[2018-07-21 15:37] mcicolella opened #440 "Z-wave plugin refactoring"
As reported [here](https://github.com/zgmnkv/zwave4j/issues/48#issuecomment-406785753) the project zwave4j is no more updated so our [plugin](https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/zwave) (in progress) needs a complete refactoring based on another Java library.

[2018-07-28 15:29] mcicolella opened #441 "RestAPI: missing hardwareTriggers endpoint"

[2018-08-09 13:35] #326 closed

[2018-08-16 06:12] amenak77 commented on #280
It seems that service "com.freedomotic.bus.BusServiceImpl.createObjectMessage(BusServiceImp"l rises a nullpoint exception because variable "file=http://www.freedomotic.com/sites/default/files/arduinousb-5.6.x-3.0_0.device&nid=671" is NULL

[2018-08-16 08:01] amenak77 commented on #280
Maybe the problem isn't related to all plugins but only to arduino's. Where i am now I have only a smartphone and a very much unstable internet connection; not very much for a check

[2018-08-16 09:30] amenak77 commented on #353
Maybe abollaert was right. https://github.com/FasterXML/jackson-module-jaxb-annotations/issues/57

[2018-08-16 09:44] amenak77 commented on #272
This could be useful.  http://users.openjpa.apache.narkive.com/YhxFD2bS/jdk-1-7-seems-to-be-causing-an-issue-with-latest-snapshot

[2018-08-16 09:54] amenak77 commented on #353
https://github.com/jersey/jersey/issues/3783

The exception seems to be from Jackson, where they say its due to an old version of jackson. 2.24 used version 2.5.4, 2.26 is using 2.8.4, 2.27 will use 2.8.10. as commented by jansupol

[2018-08-16 11:26] amenak77 commented on #137
Do we have any similar working project to use as a model for this?

[2018-08-16 14:19] amenak77 opened #442 "UI element needed to deal with Freedomotic headless"
When freedomotic headless is running, above all if not from CLI, an user inteface element is needed to let the user know that the program is running in background. This element should be present into the three most important OS, correctly handled by JVM; ideally a traybar element or some kind of messaging

[2018-08-30 14:09] amenak77 opened #443 "Create a Zigbee plugin"
Xiaomi (for example) has an interesting low cost zigbee based devices ecosystem for low cost smart home. It would be interesting testing it with freedomotic and a zigbee plugin

[2018-09-24 09:28] mcicolella commented on #442
This seems a duplicate of #126

[2018-10-01 15:30] mcicolella commented on #280
@P3trur0 are you still on this?

[2018-10-01 17:33] P3trur0 commented on #280
@mcicolella I could give a look!

[2018-10-02 08:10] mcicolella opened #445 "Make Freedomotic compatible with Java 11"
Freedomotic is running on JDK 8. We should check if it's compliant with 10 version.

[2018-10-02 09:44] aumarbello commented on #445
Hello, would like to pick this issue up.

Which version should it be tested agaist? 9 or 10?

[2018-10-02 13:36] #401 closed

[2018-10-02 14:17] mcicolella commented on #207
Closing due to lack of activity

[2018-10-02 14:17] #207 closed

[2018-10-02 14:18] mcicolella commented on #206
Closing due to lack of activity

[2018-10-02 14:18] #206 closed

[2018-10-02 14:27] mcicolella commented on #181
Closing due to lack of activity

[2018-10-02 14:27] #181 closed

[2018-10-02 19:30] dmitraver commented on #411
I can pick this up

[2018-10-03 11:41] dmitraver commented on #445
I had problems building the project having java 10. Can run it again and post error messages here.

[2018-10-03 15:27] mcicolella commented on #445
@aumarbello java 10
@dmitraver yes, thanks

[2018-10-04 08:59] #411 closed

[2018-10-05 09:28] mcicolella commented on #445
@aumarbello for now we need to know if there are some problems with newer versions.

[2018-10-05 09:32] aumarbello commented on #445
Okay, would run on Java 9 and 10 and report back any issues I experience.

[2018-10-05 09:33] mcicolella opened #447 "Add icons with transparent background to Mailer plugin"
We need to have the following icons with a transparent background or similar icons (same dimensions, resolution and subject)
https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/mailer/src/main/resources/data/resources/mailer-running.png
https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/mailer/src/main/resources/data/resources/mailer-stopped.png

[2018-10-05 09:38] mcicolella commented on #445
@aumarbello thanks for your help.

[2018-10-05 10:49] hariprasanths commented on #447
can i work on this?

[2018-10-05 11:33] mcicolella commented on #447
@hariprasanths yes

[2018-10-05 16:11] mcicolella opened #448 "Add icons with transparent background to Scheduler plugin"
We need to have the following icons with a transparent background or similar icons (same dimensions, resolution and subject)

https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/essential/src/main/resources/data/resources/scheduler-running.png
https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/essential/src/main/resources/data/resources/scheduler-stopped.png

[2018-10-05 16:13] AlexMenor commented on #448
i could work on this

[2018-10-06 09:02] amenak77 opened #451 "Changing object's label name causes problems in Freedomotic"
![oggetto_indirizzo_nome_iss](https://user-images.githubusercontent.com/13914556/46569352-d05ca080-c953-11e8-9919-3402d0aabf7f.jpg)

If you open tab object propriety and change label name content, Freedomotic shows strange behaviors. The examples above refers to an object "light" with openwebnet protocol and as you can see freedomotic joindevice, the autodiscovery function, creates same label name

[2018-10-06 11:32] amenak77 commented on #451
Furthermore, by my experience, changing Freedomotic's problematic instance "data" folder, the problem disappear and the framework begins running fine again

[2018-10-06 16:43] mcicolella commented on #448
Fixed in 512d1998226f5b3f5c720f0e9152d10b0bbddd03

[2018-10-06 16:43] #448 closed

[2018-10-07 08:41] mcicolella commented on #430
@dmitraver would you like to take a look at this?

[2018-10-07 13:34] mcicolella opened #452 "Update Swagger to the latest version"
Our plugin [RestAPI ](https://github.com/freedomotic/freedomotic/blob/2f734aeb8b58b433c8ccb3b4eed8b2fd6ed2adb1/plugins/devices/restapi-v3/pom.xml)uses Swagger to document the APIs.
We would update Swagger to the latest available version.

[2018-10-07 14:17] basalt79 commented on #452
i will have a look on the src and give it a try

[2018-10-07 16:33] dmitraver commented on #430
hi, sure, I can take a look

On Sun, 7 Oct 2018 at 10:41, Mauro Cicolella <notifications@github.com>
wrote:

--
Best wishes,
Dmitry Avershin.

[2018-10-07 16:33] dmitraver commented on #430
hi @mcicolella, I can take a look

[2018-10-07 20:07] dmitraver commented on #430
@mcicolella I haven't tested the code yet (there are no automated tests afaik) but can you please take a look to check that what I wrote even makes sense :)

[2018-10-07 23:38] lubarinobr commented on #452
I'd like work in this issue.

[2018-10-08 13:37] zedd-08 commented on #447
Can I work on this?

[2018-10-08 16:03] mcicolella commented on #447
Fixed in 5d2a60269636544fa4f4f645f529fa6fb3c28801

[2018-10-08 16:03] #447 closed

[2018-10-08 17:42] OldFRE opened #455 "Directory listing (Most)"
Edition：freedomotic-commander-5.6.0-rc3
Remote webserver large directory listing

Normal boot software. Remote access corresponds to IP and port.

http://www.text.com:8090/
/api/
/images/
/translation/

http://www.text.com:9111/
/css/
/lib/
/lib/shred/
/res/system/
/res/system/furniture/
/res/system/map/
/res/system/object/
/res/system/texture/
/res/temp/
/res/temp/base-things/
/res/temp/base-thin

[2018-10-09 14:17] mcicolella opened #456 "Add ObjectHasChanged event"
This event can be useful to send a notification when a new thing is added or removed or has changed its properties.

Rif.[ Events](https://github.com/freedomotic/freedomotic/tree/master/framework/freedomotic-core/src/main/java/com/freedomotic/events)

[2018-10-09 21:53] sebast26 commented on #456
@mcicolella I can work on that. Could you please provide more details on what exactly should be added inside this event?

[2018-10-10 08:51] mcicolella commented on #452
@alejandrocq check this PR #457 sent by @marcopollivier. He updated swagger-maven-plugin to 3.1.7 without making any changes to the plugin configuration.

[2018-10-10 10:43] alejandrocq commented on #452
Yes, I have checked it, but compilation fails because some configuration parameters of the plugin have changed. For example, title and version of the API must be included inside <info> tag. You can see the latest configuration parameters here: https://github.com/kongchen/swagger-maven-plugin

As I said, I can do a PR later so you can see my changes :)

[2018-10-10 15:55] mcicolella commented on #456
@sebast26 in few words we should create an event similar to [TriggerHasChanged](https://github.com/freedomotic/freedomotic/blob/master/framework/freedomotic-core/src/main/java/com/freedomotic/events/TriggerHasChanged.java) where 'trigger' is replaced by 'object' everywhere.

[2018-10-10 21:00] marcopollivier commented on #452
Hello. I had misunderstood the issue. I'm sorry. So... I'm glad that the speedy guy has resolved before I could.

I will delete the PR

[2018-10-10 21:14] marcopollivier commented on #452
Hello. I had misunderstood the issue. I'm sorry. So... I'm glad that has resolved before I could.

I will delete the PR

[2018-10-11 09:05] #456 closed

[2018-10-12 13:56] mcicolella opened #459 "Investigate why RestAPI tests fail"
We introduced a new type of event to notify when a new thing is added or an existent one is removed.
But with these modifications (disabled temporarly in 42e23fa59ca2d599742d8db09dbba356edd98876) [RestAPI tests](https://github.com/freedomotic/freedomotic/blob/42e23fa59ca2d599742d8db09dbba356edd98876/plugins/devices/restapi-v3/src/test/java/com/freedomotic/plugins/devices/restapiv3/test/AbstractTes

[2018-10-13 10:18] Alex-The-Coder commented on #459
The issue is that the messaging bus doesn't have a valid send session when that event is sent during your unit test.

[2018-10-13 22:14] Alex-The-Coder commented on #459
I could dig into your codebase and see what I can do I suppose

[2018-10-14 08:14] mcicolella opened #461 "Add/update a translation for your language"
Freedomotic supports more than 20 languages using Transifex.
We are searching contributors for new languages or existing translations.

Solution 1 (recommanded in particular for a new language)

- Join  our team on Transifex (https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/)-
- Complete the translation
- Download the file .properties and submit a PR

Solution 2

- Work directl

[2018-10-14 08:17] JohJohan commented on #461
I will pick up dutch translations

[2018-10-14 08:33] mcicolella commented on #461
It's https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/

[2018-10-14 12:27] marciobbj commented on #461
I will do the brazilian portuguese one

[2018-10-14 13:00] sebast26 commented on #431
@mcicolella What do you mean by all available resources? All resources from Info.PATHS.PATH_RESOURCES_FOLDER?

[2018-10-14 13:18] mcicolella commented on #461
@michaelneuf @NayakNavin   added to Transifex

[2018-10-14 13:19] mcicolella commented on #431
@sebast26 yes

[2018-10-15 09:19] #417 closed

[2018-10-16 14:51] pt429sy commented on #461
I can do Slovak language

[2018-10-19 10:44] tfij commented on #461
I've add polish translation

[2018-10-22 15:51] haseebpvt commented on #461
I'll do Malayalam. Language of Kerala (India)

[2019-07-02 17:20] mhp0rtal opened #473 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => plugins/devices/webserver/src/main/java/com/freedomotic/webserver/ApplicationServer.java: Line number => 130: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR> File name => plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugins/devices/restapiv3/RestJettyServer.java: Line number =>

[2019-09-27 07:33] ritesh-pandey opened #474 "Failure in building freedomotic-model 5.6-SNAPSHOT"
[code]

OS
[code]
Kernel
[code]
Java -
[code]

[2019-10-03 07:48] b0n541 commented on #461
I would pick up outstanding German translations.

[2019-10-05 20:37] mantasio commented on #461
@mcicolella do you still need this? Could help with Lithuanian translations

[2019-10-06 10:42] mcicolella commented on #461
@mantasio yes thanks!

[2019-11-22 08:40] mcicolella commented on #445
Currently Java 11 is the default version.
Freedomotic is not compatible: the code doesn't compile on JDK 11 and the binary based on Java 8 doesn't run on 11.
We need to fix it ASAP.

[2020-01-19 14:27] #427 closed

[2020-02-22 16:20] paridhika commented on #252
@P3trur0
Hi,
I cannot see your file. can you please share it

[2020-02-22 16:21] paridhika commented on #252
@mcicolella
Hi, I cannot see your file can you please share it.

[2020-04-22 03:54] amenak77 commented on #474
Hi ritesh-pandey,
it could be a maven dependency problem; you can have some suggestions here  https://stackoverflow.com/questions/42525139/maven-build-compilation-error-failed-to-execute-goal-org-apache-maven-plugins  Best regards, Alberto

[2020-04-22 04:31] amenak77 commented on #442
I think not. #126 refers to GUI alert when you have Freedomotic running problems. In this case we must notify the user about the headless  instance  correct  running: we could have different solutions

[2020-04-27 21:19] amenak77 opened #482 "Freedomotic should have an univocal instance UUID in p2p"
This issue is related to client Vue web app issue #153; in p2p, Every Freedomotic instance should have an univocal UUID so that Vue client could point to the right instance running on the same Pc.

[2020-04-27 21:42] amenak77 opened #483 "Swagger should point to univocal Freedomotic’s instance (UUID)"
This issue is similar to client Vue web app #153 issue and related to #482

[2020-04-28 08:43] amenak77 opened #484 "Complete connections between Freedomotic API and PhPMyDomo"
![phpmd_1](https://user-images.githubusercontent.com/13914556/80464829-a35b4e80-893a-11ea-8e2d-3e67d99c7367.jpg)

PhpMyDomo is a remarkable web interface, born to be the ultimate GUI between user and open source frameworks. It's already working for Domoticz, Domotiga, OpenHab and Domogik and a draft connection to API for Pilight ad Freedomotic   https://github.com/phpMyDomo/phpMyDomo/tree/develop/

[2020-04-28 11:40] amenak77 commented on #484
![phpmd_2](https://user-images.githubusercontent.com/13914556/80483087-ad3e7b00-8955-11ea-9c33-25d6424bfdd5.jpg)

last ver 0.600

[2020-07-24 15:43] mcicolella commented on #445
The main problema is related to this code block
`
 URLClassLoader classLoader = (URLClassLoader) ClassLoader.getSystemClassLoader();
            Class<?> clazz = classLoader.loadClass(pojo.getHierarchy()); //eg: com.freedomotic.things.impl.ElectricDevice
            EnvObjectLogic logic = null;
            try {
                logic = (EnvObjectLogic) clazz.newInstance();
                logic.se

[2020-09-20 17:32] gmolica commented on #445
I will try to make it compatible with Java 11.

[2020-09-21 08:08] mcicolella commented on #445
Thanks @gmolica

[2020-09-23 06:40] HelloCoCooo opened #490 "Dependency conflicts on org.apache.httpcomponents:httpclient, leading to inconsistent program behaviors"
Hi, in **freedomotic/plugins/devices/pURL**, there are mulptiple versions of library **org.apache.httpcomponents:httpclient**. However, according to Maven's dependency management strategy: **_"first declaration wins"_**, only **org.apache.httpcomponents:httpclient:4.3.1** can be loaded, and **org.apache.httpcomponents:httpclient:4.5.2** will be shadowed.

As shown in the following figure, your pro

[2020-09-23 06:40] HelloCoCooo commented on #490
Executing the following test case on **org.apache.httpcomponents:httpclient:4.5.2** and **4.3.1** separately, the risky method **_<org.apache.http.client.config.RequestConfig: toString()Ljava/lang/String;>_** will get different return values:

[code]

Output results:

[code]

[2020-09-23 06:41] HelloCoCooo commented on #490
@mcicolella Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2020-09-23 16:09] mcicolella commented on #490
Hi @HelloCoCooo, thanks for your detailed report.
Maybe the solution 2 could be adopted. Also "push" plugin requires the same dependency but it uses a different version.
Please check if the project compiles and runs correctly and then submit a PR if you want.
Thanks.

[2020-09-24 09:30] mcicolella commented on #490
Fixed in #491

[2020-09-24 09:30] #490 closed

[2020-10-06 13:06] mcicolella opened #492 "Fix icon position in Plugin card"
As shown in the folowing screenshot we need to fix the plugin icon
![Schermata da 2020-10-06 15-02-03](https://user-images.githubusercontent.com/4079634/95204944-081dad80-07e5-11eb-9d0d-ba4a737d4de2.png)

Component to modify
[Plugin.vue](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Plugin.vue)

[2020-10-06 13:07] mcicolella commented on #492
Wrong repository

[2020-10-06 13:07] #492 closed

[2020-10-06 19:02] JAtoms commented on #461
Can I do Igbo an African language?

[2020-10-06 20:33] mcicolella commented on #461
@JAtoms yes, thanks.

[2020-10-08 14:57] JAtoms commented on #461
@mcicolella please, I'd like to have some directions.

[2020-10-11 22:48] amenak77 opened #493 "Import/export customized environment configuration file"
At the moment, there isn’t a way to automatically export/import a custom environment, such as object’s type, number and position, and background file, when we upgrade the framework to a newer daylybuilt. We can do it manually only. It would be nice to have an “import/export environment” option which makes the hard work

[2020-10-15 04:00] amenak77 commented on #493
![freedomotic_pr](https://user-images.githubusercontent.com/13914556/96075497-73cddd80-0eab-11eb-929a-c268d2a9ea80.jpg)
Here is an example of custom environment

[2020-10-18 18:24] seniorglez commented on #461
According to your Transifex Spanish is not totally supported yet. I will love to help with that!

[2020-10-24 17:13] nlaert commented on #461
I would like to help on pt-PT translations

[2020-10-31 14:43] SolangeUG commented on #461
Hi @mcicolella 👋
I have added missing French, Spanish, and British English translations.
May I also add translations in Swahili?
Thanks.

[2021-06-25 17:38] GDSGUI commented on #452
Boa Tarde eu estava assistindo as suas aulas de orientação a objetos Java e vim no git Hub para ter acesso aos códigos da aula más não estou achando, eles não estão mais desooniveis?

[2021-08-31 09:03] #241 closed

[2021-09-30 16:30] anujd64 commented on #461
Hii @mcicolella !
I would like to help with Marathi (India) translations
sent a request on transifex

[2021-10-08 00:26] arladalberto commented on #461
I wanna help with pt-BR translations. I asked to join the team on Transifex

[2022-03-19 09:47] mcicolella opened #515 "Add a workflow for CI with Github Actions"
We need to exclude TeamCity service and manage our dailybuilds with Github Actions

[2022-03-19 09:50] mcicolella opened #516 "Review Dockerfile to manage Github CI dailybuilds"
The Docker images shoud be based on the Github Actions artifacts.

Related to #515

[2022-03-19 20:53] mcicolella commented on #515
Fixed in 0181e7de2e01dd652cd1b23f40aee02b093d3569

[2022-03-19 20:53] #515 closed

[2022-03-21 14:33] mcicolella commented on #445
Fixed in
90eaa5749052e8b14d03340b155577537adb244e
b1221af6d14a5178710100346a0e48002bc49287
521acc345ec4665c3eaf71a7b558e9f1987ca0a9

[2022-03-21 14:33] #445 closed

[2022-04-03 09:22] mcicolella opened #519 "Enable dailybuilds publishing on GitHub"
Now we can publish a new snapshot every time a workflow is completed.
But we some some issues:
- no stable URL for downloading
- downloading is allowed only to authenticated users

Solution
To fix the ploblem we can create a "dailybuild" release related to the same tag and publish it at the end of every CI/CD workflow by cancelling the previous one.
So we have a stable URL for downloading "https:/

[2022-04-03 09:51] mcicolella commented on #519
Fixed in dc13183052b427ed7f7ad6980088879c0a9baf24

[2022-04-03 09:51] #519 closed

[2022-04-03 16:11] mcicolella commented on #516
Fixed in ced4897a1766b3836493ab0f75ea76930750139d

[2022-04-03 16:11] #516 closed

[2022-04-03 18:18] mcicolella commented on #474
@ritesh-pandey
The problem was related to JAXB removed from Java SDK on JEP 320 (http://openjdk.java.net/jeps/320).
Fixed in b1221af6d14a5178710100346a0e48002bc49287

[2022-04-03 18:18] #474 closed

[2022-04-03 18:21] mcicolella commented on #280
The marketplace system based on the old Drupal system is no more available so we can close this issue.

[2022-04-03 18:21] #280 closed

[2022-04-03 18:25] mcicolella commented on #130
The marketplace system based on the old Drupal system is no more available so we can close this issue.

[2022-04-03 18:25] #130 closed